* { margin: 0; padding: 0; box-sizing:border-box; zoom: 1}
body { color: #333;font-family: "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti; font-size: 14px;  min-width: 1200px; }
html.hasFontSmoothing-false body { font-family: Arial, SimSun, "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti; }
input, select, textarea, button { font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti; }
body, p, div { margin: 0; padding: 0; word-break: break-all; word-wrap: break-word; border: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0;font-size: 100%;font-weight: normal; }
ul, ol, li, dl, dd, dt { list-style: outside none none; margin: 0; padding: 0; }
a { color: #333; cursor: pointer; text-decoration: none!important; }
a:hover { text-decoration: none; }
td { color: #666; font-size: 14px; }
img { border: none; vertical-align: middle;}
input { outline: 0 none; }
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:"";}/*利用伪类清楚浮动*/
.clearfix{zoom:1;}
/*文字排版、颜色*/
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.red,a.red{color:#cc0031}
.color-fff{
    color: #ffffff!important;
}
.darkblue,a.darkblue{color:#039}
.gray,a.gray{color:#878787}
.lg100{line-height: 100%}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
/*定位*/
.tl{text-align:left!important;}
.tc{text-align:center}
.tr{text-align:right}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}

/*长度高度*/
.w10{width:10px}
.w20{width:20px}
.w50{width:50px}
.w90{width:90px}
.w100{width:100px}
.w200{width:200px}
.w250{width:250px}
.w500{width:500px}
.w800{width:800px}
.w{width:100%}
.h50{height:50px}
.h80{height:80px}
.h100{height:100px}
.h200{height:200px}
.h{height:100%}

/*边距*/
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top:50px}
.mt80{margin-top: 80px;}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb60{margin-bottom: 60px;}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mr40{margin-right: 40px;}
.mr50{margin-right:50px}
.mr80{margin-right: 80px;}
.mr100{margin-right:100px;}
.mr110{margin-right:110px;}
.mr190{margin-right:190px;}
.p8{padding: 8px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding: 20px}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pb5{padding-bottom:5px}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl30{padding-left: 30px;}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr30{padding-right: 30px}
.pr15{padding-right:15px}
.pr100{padding-right:100px}
.text-overflow-hidden {
    white-space: nowrap;
    word-spacing: normal;
    letter-spacing: normal;
    overflow: hidden;
}
.box-align-center {
    margin-right: auto;
    margin-left: auto;
}
.valign {
    display:table-cell;
    *display: inline;
    zoom:1;
    vertical-align:middle;
}
.text{word-wrap:break-word;overflow:hidden;word-break:break-all;}
.overflow-hidden{overflow:hidden;}         /*控制背景溢出*/
.equal-height{margin-bottom:-32800px;padding-bottom:32800px;}      /*控制高度足够小*/
.no-padding-bottom{padding-bottom: 0!important;}


/*首页*/
.head{
    width: 100%;
    background: #353c3f;
    height: 40px;
    line-height: 40px;
}
.head-content{
    width: 1200px;
    margin: 0 auto;
    color: #9297A0;
}
.head-right>ul li{
    float: left;
    padding: 0 25px;
}
.head-right>ul li a{
    padding: 10px;
    color: #9297A0;
}
.head-right-app{
    display: inline-block;
    height: 26px;
    width: 80px;
    line-height: 25px;
    margin-top: 7px;
    background: url("../images/head-app.png") no-repeat;
    text-align: right;
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
}
.head-right-app:focus,.head-right-app:hover{
    color: #fff;
}
.weibo-color{
    color: #fff;
    font-size: 16px;
}
.nav{
    width: 1200px;
    margin: 20px auto;
    line-height: 4;
}
.nav-content ul li{
    float: left;
    padding:0 5px;
}
.nav-content ul li a{
    padding: 5px 10px;
    margin-right: 10px;
}
.nav-content ul li.active a{
    background: #79b682;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nav-content ul li a:hover{
    background: #79b682;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.foot-partner{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #e5e5e5;
}
.foot-partner-content{
    width: 1200px;
    margin: 0 auto;
}
.foot-partner-content span{
    font-size: 20px;
}
.foot-partner-content ul li{
    float: left;
    margin-right: 56px;
}
.foot-list{
    padding: 70px 0;
    background: #363b3f;
    color: #7D8390;
}
.foot-list-content{
    width: 1200px;
    margin: 0 auto;
}
.foot-list-content-time{
    text-align: center;
    color: #7D8390;
}
.foot-list-content-time span{
    display: block;
}
.foot-list-content-time b{
    font-weight: normal;
    font-size: 30px;
}
.foot-list-content-link{

}
.foot-list-content-link1 ul li{
    margin-bottom: 15px;
    color: #7D8390;
}
.foot-list-content-link1 ul li a{
    font-size: 13px;
    color: #7D8390;
}
.foot-list-content-link1 ul li span{
    font-size: 14px;
}
.right-border1{
    border-right: 1px solid #eee;
}
.foot-link{
    width: 100%;
    background: #10151b;
}
.foot-link-content{
    width: 1200px;
    margin: 0 auto;
    /*height: 65px;*/
    /*line-height: 65px;*/
}
.foot-link-content-img{
    width: 505px;
    margin: 0 auto 15px;
}
.foot-link-content-img ul li{
    float: left;
}

/* 2017-02-03-elf banner center issue-fixed */
.banner-box .swiper-slide a{display: block;height:100%; background: no-repeat center center;}