@charset "UTF-8";

/*遮罩*/
.mask{position: fixed;width: 100%;height: 100%;left: 0;top: 0;bottom: 0;background-color: rgba(0,0,0,0.8);z-index: 999;}

/* 错误提示弹层 */
.c-float-modePop {
text-align: center;
background-color: #FAFAFC;
}
.c-float-modePop .warnMsg {

padding: 20px 10px 10px 10px;
color: #fff
}
.c-float-modePop .doBtn {

width: 100%;
margin: 0 auto;
}
.c-float-modePop button {

padding: 6px 9px 6px 9px;
color: #949494;
border: 0;
}
.c-float-shade {

width: 100%;
display: block;
position: absolute;
z-index: 2000000000;
background-color: #000;
opacity: 0.5;
top: 0;
left: 0
}
.c-float-shade.hide {
display: none
}
.c-float-popWrap {
	width: 85%;
	z-index: 9999;
	position: fixed;
	border-radius: 3px;
    overflow: hidden;
}
.c-float-popWrap .c-float-modePop {
	overflow: hidden;
	border-radius: 6px;
}
.c-float-popWrap .c-float-modePop .warnMsg {
    padding: 0.8em 0 0.8em;
	font-size: 15px;
	color: #333;
}
.c-float-popWrap .c-float-modePop .content {
    padding: 0 20px;
    font-size: 14px;
    color: #888;
    word-wrap: break-word;
    word-break: break-all;
	text-align: left;
}
.c-float-popWrap .c-float-modePop .doBtn {
	width: 100%;
	margin-top: 15px;
	position: relative;
}
.c-float-popWrap .c-float-modePop .doBtn:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.c-float-popWrap .c-float-modePop button {
	background-color: #FAFAFC;
	width: 50%;
	height: 42px;
	line-height: 42px;
	color: #444;
	font-size: 17px;
	border: 0;
	padding: 0;
}
.c-float-popWrap .c-float-modePop button.ok{
	color: #0BB20C;
}   
.c-float-popWrap .c-float-modePop button.cancel{
	position: relative;
} 
.c-float-popWrap .c-float-modePop button.cancel:after {
    content: " ";
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.c-float-popWrap.hide {

display: none;
-webkit-box-shadow: none
}
.c-float-popWrap.show {

display: block;
}

.c-float-popWrap.msgMode .c-float-modePop .content, .c-float-popWrap.msgMode .c-float-modePop .doBtn {

display: none
}

.c-float-popWrap.alertMode .c-float-modePop .doBtn .cancel {

display: none
}
.c-float-popWrap.confirmMode .c-float-modePop .content, .c-float-popWrap.confirmMode .c-float-modePop .doBtn {

display: block
}

.confirm_input{
	border: 1px solid #D5D5D6;
	padding: 10px;
	width: 70%;
}
.weui_mask_transparent {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: rgba(0, 0, 0, 0.6);
}
.cx_mask_transparent{
	position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: rgba(255, 255, 255, 0.1);
}

.web_toast{
    position: fixed;
	margin: 0 10px;
    z-index: 1354654654;
    display: none;
    display: block;
    padding: 10px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.7);
    /*font-size: 0.875em;*/
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
}
