* { margin: 0; padding: 0; box-sizing:border-box; zoom: 1}
body { color: #333;font-family: "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti; font-size: 14px;  min-width: 1200px; }
html.hasFontSmoothing-false body { font-family: Arial, SimSun, "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti; }
input, select, textarea, button { font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti; }
body, p, div { margin: 0; padding: 0; word-break: break-all; word-wrap: break-word; border: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0;font-size: 100%;font-weight: normal; }
ul, ol, li, dl, dd, dt { list-style: outside none none; margin: 0; padding: 0; }
a { color: #333; cursor: pointer; text-decoration: none!important; }
a:hover { text-decoration: none; }
td { color: #666; font-size: 14px; }
img { border: none; vertical-align: middle;}
input { outline: 0 none; }
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:"";}/*利用伪类清楚浮动*/
.clearfix{zoom:1;}
/*文字排版、颜色*/
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.red,a.red{color:#cc0031}
.color-fff{
    color: #ffffff!important;
}
.darkblue,a.darkblue{color:#039}
.gray,a.gray{color:#878787}
.lg100{line-height: 100%}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.jj_con4 dd{margin-left: 138px;vertical-align:top; width:auto; height:auto; padding:0 10px;}
.jj_con4 dd p{}
.jj_con4 dt{vertical-align:top;float:left; width:117px; height:16px;}
.jj_con4{ clear:both; width:95%; height:auto; padding:15px 0 20px 0; margin:0 auto;}
.jj_con4 dl{ float:left; width:100%; height:auto; margin:25px 0 6px 0;}
.jj_con4 img{width:110px;}
.jj_con4 dd h1 a,.jj_con4 dd h1 a:hover{ color:#333333; text-decoration:underline;}
.jj_con4 dd h2 span{ float:left; color:#107F00;}
.jj_con4 dd h1{ float:left; width:100%; height:auto; line-height:25px; font-size:16px; color:#333; font-weight:bold;}
.index-content-news{
	padding-bottom: 20px;
}
/*定位*/
.tl{text-align:left!important;}
.tc{text-align:center}
.tr{text-align:right}
.fl{float:left;display:inline}
.fr{float:right;display:inline;}
.cb{clear:both}
.mt20{margin-top: 10px;}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}

/*长度高度*/
.w10{width:10px}
.w20{width:20px}
.w50{width:50px}
.w90{width:90px}
.w100{width:100px}
.w200{width:200px}
.w250{width:250px}
.w500{width:500px}
.w800{width:800px}
.w{width:100%}
.h50{height:50px}
.h80{height:80px}
.h100{height:100px}
.h200{height:200px}
.h{height:100%}

/*边距*/
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:5px}
.mt15{margin-top:15px}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top:50px}
.mt80{margin-top: 80px;}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:3px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb60{margin-bottom: 60px;}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{float: right;
    margin-right: 100px;}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mr40{margin-right: 40px;}
.mr50{margin-right:50px}
.mr80{margin-right: 80px;}
.mr100{margin-right:100px;}
.mr110{margin-right:110px;}
.mr190{margin-right:150px;}
.p8{padding: 8px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding: 20px}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pb5{padding-bottom:5px}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl30{padding-left: 30px;}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr30{padding-right: 30px}
.pr15{padding-right:15px}
.pr100{padding-right:100px}
.text-overflow-hidden {
    white-space: nowrap;
    word-spacing: normal;
    letter-spacing: normal;
    overflow: hidden;
}
.box-align-center {
    margin-right: auto;
    margin-left: auto;
}
.valign {
    display:table-cell;
    *display: inline;
    zoom:1;
    vertical-align:middle;
}
.text{word-wrap:break-word;overflow:hidden;word-break:break-all;}
.overflow-hidden{overflow:hidden;}         /*控制背景溢出*/
.equal-height{margin-bottom:-32800px;padding-bottom:32800px;}      /*控制高度足够小*/
.no-padding-bottom{padding-bottom: 0!important;}


/*首页*/
.head{
    width: 100%;
    background: #353c3f;
    height: 40px;
    line-height: 40px

}
.head-content{
    width: 1200px;
    margin: 0 auto;
    color: #9297A0;
}
.head-right>ul li{
    float: left;
    padding: 0 25px;
}
.head-right>ul li a{
    padding: 10px;
    color: #9297A0;
}
.head-right-app{
    display: inline-block;
    height: 26px;
    width: 80px;
    line-height: 25px;
    margin-top: 7px;
    /*background: url("../images/head-app.png") no-repeat;*/
    text-align: right;
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
}
.head-right-app:focus,.head-right-app:hover{
    color: #fff;
}
.weibo-color{
    color: #fff;
    font-size: 16px;
}
.nav{
    width: 1200px;
    margin: 20px auto;
    line-height: 4;
}
.nav-content ul li{
    float: left;
    padding:0 5px;
}
.nav-content ul li a{
    padding: 5px 10px;
    margin-right: 10px;
}
.nav-content ul li.active a{
    background: #79b682;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nav-content ul li a:hover{
    background: #79b682;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.swiper-container {
    height: 300px;
    /*width: 640px;*/
}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:5px;
    width: 100%;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #aaa;
}
.banner-box{
    height: 300px;
    position: relative;
    z-index: 1;
    zoom: 1;
}
.banner-box-img a{
    width: 1920px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
/* 2017-02-03-elf banner center issue-fixed */
.banner-box .swiper-slide a{display: block;height:100%; background: no-repeat center center;}
.banner-fixed{width: 1903px; height: 300px;}
.banner-fixed a{ width: 1903px;}
.banner-right{
    width: 1200px;
    height: 300px;
    margin: -300px auto 0;
    position: relative;
}
.banner-right-content{

    background: url("../image/banner-bg-img.png") no-repeat;
    cursor: pointer;
    width: 278px;
    height: 278px;
    position: absolute;
    top: 11px;
    right: 0;
    z-index: 2;
    color: #fff;
    text-align: center;
}
.banner-right-content p{
    font-size: 18px;
}
.banner-right-content p>span{
    color: #fae53b;
    font-size: 28px;
    vertical-align: sub;
}
.banner-right-content h2{
    font-size: 22px;
}
.banner-right-content-login{
    padding: 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #79b682;
    display: block;
    width: 100px;
    margin: 30px auto 0;
    color: #fff;
}
.banner-right .reg-btn{
    width:190px;
    font-size:16px;
    text-align: center;
    
}
.banner-right-content .banner-right-content-u{
    height:35px;
    line-height: 35px;
    font-size:24px;
    margin-top: 6px;
}
.head-content .loggined-nav-w{
    position: relative;

}
.head-content .loggined-nav-li{
    width:110px;
    text-align: center;
    padding:0;
    cursor:pointer;
    /*background: url(../image/guide_con_bg.jpg) no-repeat 0 14px;*/
}
.head-content .loggined-nav{
    position: absolute;
    z-index: 10;
    top:33px;
    left:0;
    background:#FFF;
    padding:3px 0;
    /*border-top:12px solid #e0e5eb;*/
    /*background:url(../images/member/login_w_bg.jpg) no-repeat #FFF;*!/*/
    display: none;
}
.loggined-nav li{height:26px;}
.head-content .head-right .shown{
    display: block;
}


.head-content .loggined-nav ul{
    padding-top:16px;
}
.head-content .loggined-nav li{
    padding:0;
    /*background-image:url(../images/member/logined_lis_bg.png);background-repeat:no-repeat;*/
}
.loggined-nav-li1{
    background-position: 9px 6px;
}
.loggined-nav-li2{
    background-position: 9px -16px;
}
.loggined-nav-li3{
    background-position: 10px -40px;
}
.loggined-nav-li4{
    background-position: 9px -65px;
}
.head-content .loggined-nav .loggined-nav-li5{
    background-image:none;
}
.head-content .loggined-nav a{
    display: block;
    width:98px;
    padding:0;
    height:25px;
    line-height: 25px;
    font-size:12px;
    color:#999;
}
.head-content .loggined-nav a:hover{
    color:#79b682;
}
.head-content .loggined-nav a span{
    display: block;
    text-align: left;
    padding-left:28px;
}

.head-content .loggined-nav-arr{
    display: inline-block;
    width:3px;
    height:7px;
    /*background:url(../images/member/loginnde_arr_bg.png);*/
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.head-content .on-m-etr .loggined-nav-arr{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.banner-right-content .banner-right-content-wecme{
    height:46px;
    line-height: 46px;
    font-size:30px;
}
.banner-right .log-in-now{
    display: inline-block;
    color:#fae53b;
    font-size:16px;
    margin-top:12px;
}
.banner-right .index-loggined-w{
    text-align: center;
    padding:20px;
}
#banner_head_url{border-radius: 37px;}
.banner-right-content-login:focus,.banner-right-content-login:hover{
    color: #fff;
}
.introduce{
    width: 100%;
    background: #f7f7f7;
    height: 80px;
    line-height: 80px;
}
.introduce ul{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.introduce ul li img{
	width: 46px;
}
.introduce ul li{
    width: 25%;
    float: left;
    text-align: center;
}
.index-container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.index-content{
    width: 1200px;
    border: 1px solid #eee;
    display: flex;
}
.index-content-left{
    width: 217px;
    height: 609px;
    color: #fff;
    position: relative;
    /*background: url("images/red.png");*/
}
.index-content-left1{
    width: 207px;
    height:777px;
    color: #fff;
    position: relative;
    background:url(../image/bage.png) no-repeat;
}
.index-content-left h2{
    padding-top: 80px;
    font-size: 30px;
}
.index-content-left h2 i{
    font-size: 14px;
}
.index-content-left1 h2{
    padding-top: 80px;
    font-size: 30px;
}

.index-content-left-p{
    font-size: 16px;
    width: 140px;
    margin: 15px auto;
}
.index-content-left-download{
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: auto;
    color: #fff;
    padding: 8px 0;
    width: 140px;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.index-content-left-download:focus,.index-content-left-download:hover{
    color: #fff;
}
.index-content-right{
    width: 981px;
    /*height: 609px;*/
    padding: 20px;
    background: #fff;
}
.index-content-right-sponsor{
    width: 100%;
    /*height: 230px;*/
    border-bottom: 1px solid #eee;
}
.index-content-right-sponsor-title{
    font-size: 24px;
    color: #333;
    padding-left: 10px;
    border-left: 3px solid #fa5746;
    /*width: 200px;*/
    display: inline-block;
}
.index-content-right-sponsor-left{
    width: 640px;
    display:inline-block;
}
.index-content-right-sponsor-detail h1{
    font-size: 20px;
}
.index-content-right-sponsor-detail h1 small{
    display: block;
    color: #686868;
    font-size: 16px;
}
.index-content-right-sponsor-detail-icon{
    color: #FA5546;
    margin-top: 30px;
}
.index-content-right-sponsor-detail-icon span{
    vertical-align: middle;
}
.index-content-right-sponsor-data{

}
.index-content-right-sponsor-data ul li{
    width: 160px;
    text-align: center;
    border-right: 1px solid #eee;
    float: left;
}
.index-content-right-sponsor-data ul li p{
    font-size: 22px;
    color: #FA5546;
}
.index-content-right-sponsor-data ul li span{
    color: #858585;
    font-size: 12px;
}
.noborder{
    border-right: none!important;
    border-top: none!important;
    border-bottom: none!important;
    border-left: none!important;
}
.index-content-right-sponsor-right-progress{
    width: 200px;
    height: 6px;
    background: #888888;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.index-content-right-sponsor-right-progress .progress-bar{
    background-color: #FA5546;
    border: 0.5px solid #ffffff;
}
.index-content-right-sponsor-right-action{
    width: 200px;
    background: #FA5546;
    color: #fff;
    padding: 8px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
}
.index-content-right-sponsor-right-action:focus,.index-content-right-sponsor-right-action:hover{
    color: #fff;
}
.index-content-right-join-li{
    border-right: 1px solid #eee;
    margin-right: -15px;
}
.index-content-right-join ul li{
    width: 48%;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.index-content-right-join-li-person1 span{
    font-size: 16px;
}
.index-content-right-join-li-person1 i{
    font-style: normal;
}
.green-color{
    color: #76b07f!important;
}
.green-bg-color{
    background: #76b07f;
}
#tianzhong{width:200px;height:50px;}
.index-content-news-left{
    width: 66%;
    display:inline-block;
    
}
.index-content-news-left-content{
	padding: 31px 5px 0px 5px;
}
.index-content-news-left-content h1{
    width: 100%;
    height: auto;
    line-height: 25px;
    font-size: 16px;
    color: #333;
}
.gengmore{
	text-align: right;
	float: right;
}
.index-content-news-left-title{
    font-size: 20px;
    line-height: 1;
    border-bottom: 2px solid #79b682;
}
.index-content-news-left-content ul{
    width: 34%;
}
.index-content-news-left-content ul li a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    color: #858585;
}
.goodnews1 span{
	border-left: #c6c6c6 1px dotted;
	margin-left: 8px;
	padding-left: 8px;

}
.goodnews:hover {
	color: red;
}
.goodnews1{

    width: 150px;
    height: 30px;
    line-height: 28px;
    background: #f8f8f8;
    border: #ededed 1px solid;
    border-radius: 20px;
    padding: 0 10px;
    margin: 0px auto;
}
.goodnews{

	font-size: 14px;
	color: #333333;
	line-height: 40px;
}
.goodnews img{
	width: 20px;
}
.index-content-news-right{
    width: 30%;
}
.index-content-news-left-content ul li{
    position: relative;
}
.index-content-news-left-content ul li span{
    position: absolute;
    right: -105px;
    top: 0;
    color: #858585;
}
.foot-partner{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #e5e5e5;
}
.foot-partner-content{
    width: 1200px;
    margin: 0 auto;
}
.foot-partner-content span{
    font-size: 20px;
}
.foot-partner-content ul li{
    float: left;
    margin-right: 56px;
}
.foot-list .foot-list-content-link{margin-top: 20px;border-right: 1px solid #7D8390;padding-top: 12px;}
.foot-list{
    padding: 19px 0;
    background: #363b3f;
    color: #7D8390;
   
}
.foot-list-content{
    width: 1200px;
    margin: 0 auto;
}
.foot-list-content-time{
    text-align: center;
    color: #7D8390;
}
.foot-list-content-time span{
    display: block;
}
.foot-list-content-time b{
    font-weight: normal;
    font-size: 30px;
}
.foot-list-content-link{

}
.foot-list-content-link1 ul li{
    margin-bottom: 15px;
    color: #7D8390;
}
.foot-list-content-link1 ul li a{
    font-size: 13px;
    color: #7D8390;
}
.foot-list-content-link1 ul li span{
    font-size: 14px;
}
.right-border{
    border-right: none;
 
}
.right-border1{
    border-right: 1px solid #eee;
}
.foot-link{
    width: 100%;
    background: #10151b;
}
.foot-link-content{
    width: 1200px;
    margin: 0 auto;
    /*height: 65px;*/
    /*line-height: 65px;*/
}
.foot-link-content-img{
    width: 505px;
    margin: 0 auto 0px;
}
.foot-link-content-img ul li{
    float: left;
}
/*帮助中心*/
.help-center-container{
    width: 100%;
    background: #f3f5fa;
}
.help-center-content{
    width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
}
.help-center-slider{
    width: 150px;
    border: 1px solid #ececed;
}
.help-center-slider p{
    line-height: 50px;
    background: #efeeee;
    position: relative;
    font-size: 18px;
    color: #7c8187;
}
.help-center-slider p img{
    position: absolute;
    top: 0;
    left: -8px;
}
.accordion>li{
    line-height: 50px;
    border-bottom: none!important;
    background: #fff;
    cursor: pointer;
}
.help-center-slider ul li{
    line-height: 50px;
    border-bottom: 1px solid #ececed;
    background: #FFF;
    cursor: pointer;
}
.help-center-slider ul li a{
    color: #666666;
}
.help-center-slider ul li:focus a,.help-center-slider ul li a:hover{
    color: #79b682;
}
.help-center-slider ul li.active a{
    color: #79b682;
}
.help-center-right{
    width: 1024px;
    border: 1px solid #ececed;
    padding: 20px;
    /*background: #fafafa;*/
    background: #FFF;
    overflow: hidden;
}
.help-center-right-title{
    border-bottom: 1px solid #79b682;
}
.help-center-right-title span{
    font-size: 20px;
    padding: 10px 50px;
    background: #79b682;
    float: left;
    color: #fff;
}
.help-center-right-content1{
    position: relative;
    border-left: 2px solid #79b682;
    padding-left: 40px;
}
.help-center-right-content1 img{
    position: absolute;
    top: 12px;
    left: -12px;
}
.help-center-right-content1 h1{
    font-size: 18px;
    line-height: 1;
}
.help-center-right-content1 p{
    color: #9297a0;
    font-size: 13px;
}
.help-center-right-content1 i{
    position: absolute;
    bottom: 17px;
    left: 0;
}
/*加入我们*/
.join-us-job{
    border-bottom: 1px dashed #858585;
}
.join-us-job ul li{
    width: 20%;
    float: left;
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
}
.join-us-job ul li a:hover{
    color: #79b682;
}
.join-us-job-duty h1{
    font-weight: bold;
}
.join-us-job-duty p{
    margin-top: 20px;
}
.join-us-welfare h2 span{
    font-size: 26px;
    vertical-align: sub;
}
/*联系我们*/
.contact-us-content1{
    width:100%;
    padding: 20px;
    border: 1px solid #ececef;
    background: #fff;
}
.contact-us-content1 h1{
    font-size: 18px;
    text-align: center;
}
.contact-us-content1-message p{
    line-height: 1.5;
}
/*媒体报道*/
.media-coverage-content1{

}
.media-coverage-content1-img{
    border: 1px dashed #e5e5e5;
}
.media-coverage-content1-text{
    width: 785px;
}
.media-coverage-content1-text h1{
    font-weight: bold;
    text-indent: 2em;
}
.media-coverage-content1-text p{
    color: #999;
    line-height: 2;
}
.media-coverage-content1-text p i,.media-coverage-content1-text h1 i{
    color: #fe0303;
    font-style: normal;
}
.media-coverage-content1-text p a{
    float: right;
    font-weight: normal;
    color: #79b682;
}
/*合作伙伴*/
.cooperative-partner-content ul li{
    float: left;
    width: 200px;
    height: 50px;
    border: 1px dashed #b5b5b5;
    overflow: hidden;
    margin-top: 30px;
}
.cooperative-partner-content ul li a img{
    width: 200px;
    height: 50px;
}
.cooperative-partner-content1 a{
    width: 205px;
    height: 53px;
    display: block;
    float: left;
    border: 1px dashed #b5b5b5;
}
.cooperative-partner-content1 a img{
    width: 398px;
    height: 148px;
}
/*帮助中心*/
.help-center-content:after
{
    content:"";
    visibility:hidden;
    display:block;
    clear:both;
}
.help-center-content:before
{
    content: "";
    display: table;
}
.accordion .link {
    cursor: pointer;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #ececed;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-align: left;
    padding-left: 38px;
    color: #333;
}
.accordion li i {
    position: absolute;
    left: 22px;
    top:16px;
    font-size: 18px;
    color: #aaaaaa;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.accordion li.open i.fa-caret-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.submenu {
    display: none;
    background: #eaeef2;
    font-size: 13px;
}
.submenu a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: #666;
    padding-left: 38px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
/*众筹认养等右侧内容*/
.help-center-right-box{
    width: 1024px;
    overflow: hidden;
    float: right;
}
.help-center-right-item{
    width: 50%;
    overflow: hidden;
    margin-top: 5px;
}
.help-center-right-item-l{
    width: 76px;
    font-size: 16px;
    color: #232222;
    float: left;
    text-align: center;
}
.help-center-right-item-l-1{
    width: 103px;
    font-size: 16px;
    color: #232222;
    float: left;
    /*text-align: center;*/
}
.help-center-right-item-l-img{
    display: block;
    width: 76px;
    height: 78px;
}
.help-center-right-item-l-1-img{
    display: block;
    width: 103px;
    height: 78px;
}
.help-center-right-item-l span{
    display: block;
    padding-top: 8px;
}
.help-center-right-item-l-1 span{
    display: block;
    padding-top: 8px;
    padding-left: 5px;
}
.help-center-right-item-r{
    margin-left: 35px;
    float: left;
}
.help-center-right-item-r li{
    padding-bottom: 25px;
}
.help-center-right-item-r li a{
    font-size: 13px;
    color: #666666;
}
.help-center-right-item-title{
    border-left: 3px solid #79b781;
    font-size: 18px;
    line-height: 1;
    text-indent: 5px;
}
.help-center-right-item-content{
    margin: 20px 0 10px 0;
    padding-left: 20px;
    overflow: hidden;
}
.help-center-right-item-content li{
    width: 50%;
    float: left;
    margin-bottom: 25px;
}
.help-center-right-item-content li a{
    font-size: 13px;
    color: #666666;
}
.help-center-right-hotpoint{
    font-size: 24px;
    color: #666666;
}
.help-center-right-hotpoint-list{
    margin-top: 20px;
    width: 100%;
}
.help-center-right-hotpoint-list li{
    width: 50%;
    float: left;
    padding-bottom: 20px;
}
.help-center-right-hotpoint-list li a{
    font-size: 13px;
    color: #666666;
}
/*登录*/
.login-content{
    width: 1200px;
    margin: 0 auto;
    background: #f6f7f7;
}
.login-content-left{
    width: 600px;
    text-align: center;
    color: #79b682;
}
.login-content-left img{
    /*width: 100%;*/
}
.login-content-left h1{
    font-size: 34px;
}
.login-content-left p{
    font-size: 40px;
}
.login-content-right{
    width: 520px;
    background: #fff;
}
.login-content-right-item{
    width: 280px;
    margin: 20px auto;
}
.login-content-right-item h1 span{
    font-size: 20px;
}
.login-content-right-item h1 i{
    font-style: normal;
    vertical-align: text-top;
}
.login-content-input{
    width: 100%;
    /* margin: 20px auto; */
    position: relative;
    overflow: hidden;
    /* padding-left: 35px; */
}
.login-content-input label input{padding:0;}
.login-content-icon{
    position: absolute;
    top: 12px;
    left: 15px;
    color: #999;
}
.login-content-button{
    width: 100%;
    background: #e73941;
    color: #fff;
}
.send-content-button{
    width: 130px;
    background: #79b682;
    color: #fff;
}
.login-content-input input {
    padding-left: 35px;
}
.login-red-color{
    color: #e73941;
}
.white-color{
    color: #fff;
    font-size: 15px;
}
.register-input{
    width: 180px;
    text-align: center;
    padding-left: 0!important;
}
.register-input-code{
    width: 150px;
    text-align: center;
    padding-left: 0!important;
}
.register-input-span{
    line-height: 2.4;
    color: #e73941;
}
/*投资认养*/
.investment-adoption-left{
    width: 197px;
    background: #fff;
    border: 1px solid #eee;
}
.investment-adoption-left-ul li{
    line-height: 1.5;
    padding: 10px;
    background: #fff;
    color: #686868;
    border-bottom: 1px solid #eee;
}
.investment-adoption-left-title span{
    font-size: 20px;
}
.investment-adoption-left-title a{
    color: #76b07f;
}
.list-page{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.list-page-box{
    display: inline-block;
}
.list-page-box a{
    line-height: 34px;
    padding: 0 14px;
    border: 1px solid #e7e7e7;
    display: inline-block;
    margin-left: -1px;
    font-size: 14px;
    float: left;
    background: #fff;
}
.list-page-box a:hover{
    background: #76b07f;
    color: #fff;
    border: 1px solid #76b07f;
}
.list-page-prev{
    margin-right: 5px;
}
.list-page-next{
    margin-left: 4px!important;
}
.index-content1{
    width: 1200px;
}
.investment-adoption-content-left{
    border: 1px solid #eee;
}
/*众筹吃肉*/
.search-content{
    overflow: hidden;
}
.search-box{
    border:1px solid #EBECEE;
    overflow: hidden;
}
.search-box-dl{
    display: block;
    clear: both;
}
.search-box-dl dt,.search-box-dl dd{
    float: left;
    padding: 5px 10px;
}
.search-box-dl dt{
    width: 104px;
    text-align: center;
    background: #f7f6f6;
    border-bottom: 1px dotted #D1CCC7;
}
.search-box-dl dd{
    margin-right: 90px;
}
.search-box-dl dd a{
    color: #666666;
    /*font-weight: 700;*/
}
.search-box-dl dd a:hover{
    color: #79B682;
}
.search-box-dl dd.active a{
    color: #79B682;
}
.search-box-plus{
    padding: 12px 15px;
}
.search-box-plus .search-box-plus-item{
    float: left;
    width: 50%;
}
.search-box-plus .search-box-plus-item label{
    position: relative;
}
.search-box-plus .search-box-plus-item label a{
    position: absolute;
    top: 2px;
    right: 10px;
}
.search-box-plus input{
    height: 24px;
    width: 190px;
    line-height: 24px;
    border: 1px solid #b8b8b8;
    padding: 0 24px 0 2px;
}
.search-box-plus i{
    color: #EBECEE;
}
.crowd-funding-item-box{
    clear: both;
    margin-top: 25px;
    overflow: hidden;
}

/* app_download_161220  */

/* banner */
.appdownload_ban_wrap{
   /* background: url(../images/app_download_banner.jpg) center center no-repeat;*/
}
.app_banner{
    width:1200px;
    height:500px;
    margin:0 auto;
    position: relative;
}

.appdownload_iphone_btn,.appdownload_android_btn{
    display: block;
    position: absolute;
    right: 100px;
    width:277px;
/* background-image: url(../images/app_download_btns.png);*/

}

.appdownload_iphone_btn{
 height:60px;
 bottom:132px;
}

.appdownload_android_btn{
 height:61px;
 background-position: 0 -60px;
 bottom:68px;
}

/* content  */
.appdownload_content_wrap{

}
.appdownload_content_wrap h3{
    font-size:34px;
    color:#79B682;
}

.appdownload_content_wrap p {
    font-size: 20px;
    color:#666666;
}

.app_odd{
    background:#e6f7e4;
}

.app_even{
    background:#edf9eb;
}
.app_content{
    width:1200px;
    margin:0 auto;
    height:450px;
    overflow: hidden;
}

.app_odd h3,.app_odd p{
    padding-left:20px;
}


.app_even h3,.app_even p{
    margin-left:610px;
}

.app_l1 .app_content,.app_l2 .app_content,.app_l3 .app_content,.app_l4 .app_content,.app_l5 .app_content{
    background-repeat:no-repeat ;
}

.app_l1 .app_content{
/* background-image: url(../images/app_down_1.png) ;*/
 background-position: 730px 50px;
}

.app_l2 .app_content{
/* background-image: url(../images/app_down_2.png) ;*/
 background-position: 20px 48px;
}

.app_l3 .app_content{
/*background-image: url(../images/app_down_3.png) ;*/
background-position: 760px 12px;
}

.app_l4 .app_content{
/*background-image: url(../images/app_down_4.png) ;*/
background-position: 150px 10px;
}

.app_l5 .app_content{
/*background-image: url(../images/app_down_5.png) ;*/
background-position: 812px 10px;
}

.app_l1{
}

.app_l1 .app_c_title {

}

.app_l1 h3{
height:100px;
line-height: 100px;
margin-top:150px;
}

.app_l1 p{
height:38px;
line-height: 38px;
}

.app_l2{

height:450px;
}

.app_l2 .app_c_title {
margin-top:120px;
}

.app_l2 h3{
height:50px;
line-height: 50px;
}

.app_l2 p{
height:38px;
line-height: 38px;
}


.app_l3{
height:450px;
}

.app_l3 h3{
margin-top:142px;
width:410px;
height:100px;
line-height: 50px;
margin-bottom: 20px;
}
.app_l2 .app_24{
margin-top:25px;
}

.app_l4{
height:450px;
}

.app_l4 h3{
margin-top:156px;
margin-bottom:25px;
}

.app_l4 p{
height:40px;
line-height: 40px;
}

.app_l5{
height:450px;
}

.app_l5 h3{
margin-top:142px;
height:58px;
line-height: 58px;
margin-bottom: 18px;
}

.app_l5 p{
height:40px;
line-height: 40px;
}


/* ensure_161220  */
.ensure_ban_wrap{
    background:#699c03;
}

.ensure_banner{
    width:1200px;margin:0 auto;
/*background:url(../images/ensure_banner.jpg) no-repeat center center;*/
height:300px;
position: relative;
}

.ensure_ban_wrap a{
display: block;
width:132px;
height:36px;
border-radius: 10px;
line-height: 36px;
background:#c6d9a1;
text-align:center;
font-size: 20px;
color:#4e6612;
position:absolute;
right:134px;
bottom:52px;
}


.ensure_content{
width:1200px;margin:0 auto;
overflow: hidden;
}

.ensure_odd{
background:#e6f7e4;
}

.ensure_even{
background:#edf9eb;
}

.ensure_c_l1,.ensure_c_l2{
height:450px;
}

.ensure_content .title{
position:relative;
margin-top:36px;
}

.ensure_content h3{
width:158px;
margin:0 auto;
color:#79B682;
font-size: 24px;
text-align:center;
}

.ensure_content .line_l,.ensure_content .line_r{
position:absolute;
top:12px;
display: block;
border-top:1px solid #79B682;
width:500px;
}

.ensure_content .line_l{
left:20px;
}

.ensure_content .line_r{
right:20px;
}

.ensure_content_wrap .title h3{
font-weight: 300;
}

.ensure_c_l1 dl{
width:610px;
height:330px;
margin-left:564px;
margin-top:34px;
}

.ensure_c_l1,.ensure_c_l2,.ensure_c_l3,.ensure_c_l4{
background-repeat: no-repeat;
}

.ensure_c_l1{
/*background-image: url(../images/ensure_c_bg_1.png);*/
background-position: 150px 144px;
}

.ensure_c_l2{
/*background-image: url(../images/ensure_c_bg_2.png);*/
background-position: 878px 98px;
}
.ensure_c_l3{
/*background-image: url(../images/ensure_c_bg_3.png);*/
background-position: 102px 178px;
}
.ensure_c_l4{
/*background-image: url(../images/ensure_c_bg_4.png);*/
background-position: 890px 178px;
}

.ensure_content dt,.ensure_c_l1 dd{
float:left;
color:#666666;
}

.ensure_content dt{
height:30px;
line-height:30px;
margin-top:6px;
font-size:22px;
font-weight: normal;
}

.ensure_content dd{
font-size:18px;
min-height: 30px;
line-height:30px;
margin-top:6px;
}

.ensure_c_l1 dt{
width:150px;
}

.ensure_c_l1 dd{
width:460px;
}

.ensure_content_wrap .ensure_c_l2{
height:325px;
}

.ensure_c_l2 .title{
margin-bottom:30px;
}

.ensure_c_l2 p{
height:42px;
line-height:42px;
padding-left:20px;
font-size:18px;
color:#666666;
}


.ensure_c_l2 .p_title{
font-size:22px;
color:#666666;
}

.ensure_c_l2 .pro{
margin-bottom:30px;
}


.ensure_content_wrap .ensure_c_l3{
height:548px;
}

.ensure_content_wrap .ensure_c_l3 dt,.ensure_content_wrap .ensure_c_l4 dt{
width:210px;
height:30px;
line-height:30px;
margin-top:6px;
}

.ensure_content_wrap .ensure_c_l3 dd,.ensure_content_wrap .ensure_c_l4 dd{
width:410px;
min-height: 30px;
line-height:30px;
margin-top:8px;
}

.ensure_c_l1 dl{
width:630px;
}

.ensure_content_wrap .ensure_c_l4 dl{
float:none;
width:630px;
margin-top: 40px;
margin-left:20px;
color:#666666;
}

.ensure_c_l4{
height:480px;
}

.ensure_content_wrap .ensure_c_l4 dd{
width:490px;
float: left;
font-size: 18px;
}

.ensure_content_wrap .ensure_c_l4 dt{
width:130px;
float: left;
}

.ensure_c_l5{
height:178px;
}

.ensure_c_l5 p{
height:100px;
line-height:50px;
font-size:18px;
color:#666666;
padding: 0 20px;
margin-top:8px;
}

/* pay-address */
.w_1200{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}

.pay_address_wrap{
    background:#F3F5FA;
}

.pay_address_wrap h3{
    height:30px;
    line-height: 30px;
    padding-left:30px;
    background:#F3F5FA;
    color:#666666;
    font-weight: bold;
}

.pay_address_wrap .order_info,.pay_address_wrap .address_info,.pay_address_wrap .discount,.pay_address_wrap .pay_way{
    background:#ffffff;
    padding:20px;
    border:1px solid #f5f5f5;
    margin-bottom:20px;
}

.pay_address_wrap .order_info h3{
    margin-bottom: 46px;
}

.order_info .order_row,.order_info dl,.order_info .order_mount{
    float: left;

}

.order_info{
    height:384px;
}

.order_info .order_row img{
    display: block;
    width:150px;
    height:150px;
    margin:0 20px;
}

.order_info dl{
    width:570px;
}

.order_info dl dt,.order_info dl dd{
    float:left;
    line-height: 30px;
    margin-top:14px;
}

.order_info dl dt{
    width:142px;
    text-align:right;
    font-size: 18px;
    color: #999999;
    height:30px;
    font-weight: normal;
}

.order_info dl dd{
    width:426px;
    font-size: 16px;
    color: #74AA7C;
    min-height: 30px;
}

.order_mount p{
    width:386px;
    text-align: center;
    height:50px;
    line-height: 50px;
    margin-top:44px;
    font-size:18px;
    color:#999999;
}

.order_mount .money{
    font-size: 40px;
    color:#74AA7C;
    height:50px;
    line-height:50px;
    margin-left:4px;
}
.addr_add_btn_w p,.addr_add_btn{
    float:left;
}
.addr_add_btn{
    font-size: 18px;
    width:140px;
    height:35px;
    line-height:35px;
    border:1px solid #d0e0c3;
    border-radius: 8px;
    background:#f2faeb;
    text-align:center;
    color:#555555;
    cursor:pointer;
    margin:0 30px 0 17px;
}

.addr_add_btn_w p{
    height:35px;
    line-height: 35px;
    color:#999999;
}

.addr_add_btn_w span{
    color:#4BB14D;
}

.discount h3{
    margin-bottom:20px;
}

.discount p,.discount select{
    float:left;
}

.discount p{
    width:120px;
    text-align:center;
    font-size:14px;
    color:#555555;
}

.discount select{
    width:490px;
}

.pay_way h3{
    margin-bottom:20px;
}
.pay_way input{
    position: relative;
    top:2px;
}
.pay_way .remain{
    margin-left:24px;
}

.pay_way span{
    display: inline-block;
    height:30px;
    line-height: 30px;
    margin-right:140px;
    box-sizing: content-box;
    padding-left:50px;
}

.pay_way .pay_w_1,.pay_way .pay_w_2,.pay_way .pay_w_3,.pay_way .pay_w_4{
/* background-image: url(../images/pay_bg.png);*/
 background-repeat: no-repeat;
}


.pay_way .pay_w_1{
 background-position: 10px 0;
}

.pay_way .pay_w_2{
 background-position: 10px -30px;
}

.pay_way .pay_w_3{
 background-position: 10px -60px;
}

.pay_way .pay_w_4{
 background-position: 10px -90px;
}

.pay_way .pay_sum{
 width:370px;
 text-align: center;
 height:33px;
 vertical-align: baseline;
 margin-top: 52px;
 margin-bottom:34px;

}
.pay_way .pay_sum span{
 font-size: 40px;
 color:#79B682;
 padding-left:12px;
 margin-right: 0;
}
.pay_way .agreement{
}

.pay_way .fr input{
 margin-left:124px;
}

.pay_way .fr span{
 margin-right:0;
}

.pay_way .fr{
 width:362px;
}
.pay_way .fr .agreement_span{
 padding-left:14px;
}

.pay_btn{
 width:230px;
 height:58px;
 line-height: 58px;
 text-align:center;
 cursor: pointer;
 background:#4bb14d;
 border-radius: 16px;
 font-size:25px;
 color:#ffffff;
 margin:30px auto 0;
}

.pay_tc_w{
 width:912px;
 height:460px;
 padding-left:30px;
 color:#999999;
 background:#ffffff;
 font-size:15px;
}
.pay_tc_w .require{
 color:#f81622;
}

.pay_tc_w input{
 margin-bottom: 16px;
 height:24px;
}

.pay_tc_w .uname{
 width:320px;
}

.pay_tc_w p{
 height:25px;
 line-height: 25px;
}

.pay_tc_w .ulocation{
 height:24px;
 font-size: 12px;
 color:#0A0A0A;
 margin-right:50px;
 margin-bottom: 16px;
}

.pay_tc_w .udetail_loca{
 width:412px;
}

.pay_tc_w .utell{
 width:246px;
}

.tel_w .tel_mobi,.tel_w .or,.tel_w .tel_phone{
 float: left;
}

.tel_w .or{
 margin:24px 40px 0;
}

.pay_tc_w{
 display:none;
 padding-top:16px;
}

.pay_tc_w .save_add{
 display: block;
 width:132px;
 height:32px;
 line-height: 32px;
 background:#f5f5f5;
 cursor:pointer;
 text-align: center;
 border-radius: 2px;
 color:#000000;
 border:1px solid #dddddd;
}

.pay_tc_w .upost,.pay_tc_w .udetail_loca{
 width:246px;
}

.loca_other_name{
 overflow: hidden;
}

.loca_other_name .o_span {
 margin-top:20px;
}

.pay_tc_w .loca_other_name .advice{
 margin:0 23px 0 128px;
 border:none;
}

.loca_other_name .advices{
 margin-right: 11px;
 display: inline-block;
 width:80px;
 height:32px;
 line-height: 32px;
 border:1px solid #eeeeee;
 box-sizing: content-box;
 border-radius: 4px;
 text-align: center;
}

/* pay-address-edit */

.default_addr{
    height:100px;
    background-color:#f4f5fa;
/*background-image: url(../images/pay_bg.png);*/
background-repeat: no-repeat;
background-position:35px -120px ;
margin:14px 0 30px;
overflow: hidden;
position: relative;
}

.default_addr p{
height:25px;
line-height: 25px;
font-size: 16px;
color: #999999;
padding-left:82px;
}

.default_addr .uname{
margin-top:23px;
}

.default_addr span{
position: absolute;
right:18px;
bottom:32px;
color: #74AA7C;
cursor: pointer;
}

.edit_tc_w{
width: 970px;
height:300px;
display:none;
}

.edit_tc_w table{
width:900px;
border:1px solid #e6e6e6;
margin:48px auto;
}

.edit_tc_w thead tr{
background:#dddddd;
font-size: 16px;
}

.edit_tc_w tbody tr{
font-size: 14px;
}

.edit_tc_w th{
height:46px;
}

.edit_tc_w td{
height:80px;
color:#000000;
}

.edit_tc_w tr{
border-bottom:1px solid #e6e6e6;
}

.edit_tc_w .t1{
padding-left:30px;
}

.edit_tc_w .t2,.edit_tc_w .t3{
padding-right:20px;
text-indent: 0;
}

.edit_tc_w span{
cursor:pointer;
color:#79B682;
}

.edit_tc_w .option{
color:#79B682;
}

.edit_tc_w .choose_btn{
display:inline-block;
width:68px;
height:20px;
line-height: 20px;
text-align:center;
background:#7ab682;
color:#ffffff;
border-radius:4px;
}

/* cooperative-farm */

.cooperative-farm-right{
    color:#666666;
}
.cooperative-farm-right{
    width: 1024px;
    border: 1px solid #ececed;
    padding: 20px;
    background: #FFF;
    overflow: hidden;
    margin-bottom:20px;
}
.cooperative-farm-right h3{
    font-size: 21px;
    color:#666666;
    padding-left:50px;
}
.cooperative-farm-summary h3{
    margin-bottom:10px;
}
.cooperative-farm-summary p{
    line-height: 32px;
    font-size:13px;
    text-indent:1.5em ;
}
.cooperative-farm-honor{
    height:200px;
}
.cooperative-farm-camera{
    height:300px;
}
.cooperative-farm-agreement{
    height:420px;
}
.cooperative-farm-agreement h3{
    margin-bottom:18px;
}
.cooperative-farm-agreement img{
    margin: 0 20px;
}
.cooperative-farm-agreement .agreement_w{
    text-align: center;
}

.cooperative-farm-honor .pageBtn,.cooperative-farm-camera .pageBtn{position:relative;}
.cooperative-farm-honor .pageBtn span,.cooperative-farm-camera .pageBtn span{ /*background:url(../images/co_farm_bg.png) no-repeat;*/ display:block;width:39px;height:50px;position:absolute;top:44px;cursor:pointer;text-indent:-999em;overflow:hidden; }
.cooperative-farm-honor .pageBtn .prev,.cooperative-farm-camera .pageBtn .cam-prev{left:70px;top:-90px;background-position:0 0 ;}
.cooperative-farm-honor .pageBtn .next,.cooperative-farm-camera .pageBtn .cam-next{right:70px;top:-90px;background-position:0 -54px ;}
.cooperative-farm-camera .pageBtn .cam-prev,.cooperative-farm-camera .pageBtn .cam-next{top:-130px;}
.swiper-container1 img{display:inline-block;width:166px;height:116px;}
.swiper-container2 img{display:inline-block;width:260px;height:210px;border:2px solid #e3e3e3;padding:3px;}

.swiper-container2 .swiper-slide {
    height: 100%;
    opacity: 0.4;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.swiper-container2 .swiper-slide-visible {
    opacity: 1;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}
.swiper-container2 .swiper-slide:hover {
    top: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.swiper-container1 {
    width: 700px;
    margin:22px auto 0;
    height: 120px;
    overflow: hidden;
    text-align: center;
}

.swiper-container2 {
    width: 760px;
    margin:22px auto 0;
    height: 210px;
    overflow: hidden;
    text-align: center;
}

.swiper-container1 .swiper-slide{
    display: inline-block;
}


/* adoption-detail */
.adoption-detail-w{
    background:#F3F5FA;
    overflow: hidden;
}
.adoption-detail-des,.adoption-detail-w .adoption-detail-content{
    width:1200px;
    margin: 0 auto;
    border:1px solid #eeeeee;
    margin-top:20px;
    background:#ffffff;
    padding:20px;
}

.adoption-detail-des{
    height:455px;
}
.adoption-detail-des .pig_img,.adoption-detail-des .center,.adoption-detail-des .right{
    float:left;
}
.ado-counter input{
    width:24px;
    border:1px solid #d4d4d4;
    float:left;
    text-align: center;
    background:#efefef;
    height:22px;
}
.ado-counter .num{
    background:#ffffff;
    width:30px;
    border-left:none;
    border-right:none;
}
.ado-counter span{
    margin-left:5px;
}
.ado-counter .forbid{
    background:#ededed;
    color:#cccccc;
}
.adoption-detail-des .pig_img{
    margin:80px 0 0 30px;
}
.adoption-detail-des .center{
    width:590px;
    padding:0 120px;
    height:100%;
}
.adoption-detail-des h2{
    font-size: 25px;
    padding-left:30px;
    color:#333333;
    font-weight: normal;
}
.adoption-detail-des .title2{
    font-size:15px;
    color:#686868;
    padding-left:30px;
    height:56px;
    line-height:56px;
}
.adoption-detail-des table{
    width:100%;
}
.adoption-detail-des .center tr{
    height:30px;
}
.adoption-detail-des .center .colu1{
    width:200px;
    padding-left:28px;
    color:#858585;
}
.adoption-detail-des .center .colu2{
    font-size:18px;
    color:#79B682;
}
.adoption-detail-des .agree-check{
    margin:28px 0;
}
.adoption-detail-des .agree-check input{
    margin:0 15px 0 30px;
}
.adoption-detail-des .sub{
    width:220px;
    height:34px;
    background:#4bb14d;
    text-align:center;
    border-radius:4px;
    color:#ffffff;
    border:none;
    font-size:20px;
    margin-left:62px;
}
.adoption-detail-des .odd{
    background: #f3f3f3;
}
.adoption-detail-des .right{
    width:325px;
    height:100%;
}

.adoption-detail-des .right table{
    border:1px solid #e4eee6;
    width:300px;
}
.adoption-detail-des .right tr{
    border:1px solid #e4eee6;
}
.adoption-detail-des .right td{
    text-align:center;
}
.adoption-detail-des .right .colu1{
    width:116px;
}
.adoption-detail-des .right thead tr{
    height:40px;
    background:#6ec783;
}
.adoption-detail-des .right thead td{
    color:#ffffff;
}
.adoption-detail-des .right thead .colu2{
    font-size:18px;
}

.adoption-detail-des .right tbody tr{
    height:36px;
    background:#f8fefa;
}
.adoption-detail-des .right tbody td{
    color:#57B56E;
}

.adoption-detail-content .tab-btn li{
    float:left;
    width:33.3333%;
    text-align:center;
    margin-bottom:-1px;
}
.adoption-detail-content .tab-btn{
    border-bottom:1px solid #e7e7e7;
}
.adoption-detail-content .tab-btn .active{
    border-bottom:2px solid #6dce87;
}

.adoption-detail-content .tab-btn .active a{
    border:none;
}
.adoption-detail-content .tab-btn a:hover{
    color:#6CCE85;
}
.adoption-detail-content .tab-content{
    /*position:relative;*/
    /*height:3800px;*/
}
.adoption-detail-content .tab-content li{
    /*position:absolute;*/
    position: static;
    display:none;
    width:100%;
}
.adoption-detail-content .tab-content .active{
    display: block;
}
.adoption-detail-content li span{
    cursor:pointer;
    display: inline-block;
    height:22px;
    line-height: 22px;
    font-size:20px;
}
.adoption-detail-content .active span{
    color:#6CCE85;
}
.adoption-detail-content .tab-line{
    width:764px;
    height:8px;
    background:#47b24a;
    margin:20px auto 16px;
}
.adoption-detail-content #t-c-agreements,.adoption-detail-content #t-c-detail,.adoption-detail-content #t-c-record{
    text-align:center;
}
#t-c-agreements{width: 80%;margin: 0 auto;}
.adoption-detail-content .t-c-detail img{
    display: inline-block;
}
.adoption-detail-content .t-c-agreements,.adoption-detail-content .t-c-record{
    /*display:none;*/
}
.adoption-detail-content .t-c-record table{
    width:100%;
}
#t-c-record .my-ado-head{width: 100%;}
#t-c-record .my-ado-head th{
    text-align: center;
    font-size: 18px;
    color: #999999;
    font-weight: normal;
}
.adoption-detail-content .t-c-record thead tr{
    height:60px;
}
.adoption-detail-content .t-c-record th{
    text-align: center;
    font-size:18px;
    color:#999999;
    font-weight: normal;
}
.adoption-detail-content .t-c-record tr{
    height:50px;
}
.adoption-detail-content .t-c-record td{
    color:#999999;
    font-size:14px;
}
.adoption-detail-content .t-c-record .odd{
    background:#f7f7f7;
}
.adoption-detail-content .t-c-agreements img{
    margin-top:36px;
}

/* fresh-guide */
.fresh-guide-ban-wrap{
    background-color: #19B182;
}
.guide-ban{
    width:1200px;
    margin:0 auto;
    height:300px;
    /*background:url(../images/fresh_guide_ban_bg.png) no-repeat 65px 14px;*/
    position:relative;
    overflow: hidden;
}
.guide-ban h1,.guide-ban p{
    position: absolute;
    left:238px;
}
.guide-ban h1{
    top:30px;
    color:#ffffff;
    font-size:40px;
}
.guide-ban p{
    top:80px;
    font-size: 22px;
    color:#ffffff;

}
.guide-ban dl{
    width:168px;
    float:left;
}
.guide-ban dl dt{
    font-size: 18px;
    color:#FFE117;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #ffffff;
    height:35px;
    line-height: 35px;
    margin-bottom:8px;
}
.guide-ban dl dd{
    font-size:12px;
    color:#ffffff;
    line-height: 14px;
}
.guide-ban .guide-ban-dl1,.guide-ban .guide-ban-dl2{
    margin-top:134px;
}
.guide-ban .guide-ban-dl1{
    margin-left:156px;
    margin-right: 128px;
}
.guide-ban .guide-ban-dl3{
    margin-left:90px;
    margin-right: 80px;
}
.guide-ban .guide-ban-dl3{
    margin-top:46px;
}
.guide-ban .guide-ban-dl4{
    margin-top:95px;
}
.fresh-guide-con-wrap{
    background: #f4f5fa;
}
.fresh-guide-con{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
.fresh-guide-con-pattern,.fresh-guide-con-gift,.fresh-guide-con-skilled{
    background:#ffffff;
    margin-bottom:20px;
    overflow: hidden;
}
.fresh-guide-con-pattern{
    height:560px;
    margin-top:20px;
}
.fresh-guide-con-skilled{
    height:316px;
}
.fresh-guide-con-wrap .title{
    position:relative;
    margin-top:36px;
    margin-bottom:36px;
}
.fresh-guide-con-wrap h3{
    width:240px;
    margin:0 auto;
    color:#666666;
    font-size: 30px;
    /*font-weight: bold;*/
    text-align:center;
}
.fresh-guide-con-wrap .line_l,.fresh-guide-con-wrap .line_r{
    position:absolute;
    top:16px;
    display: block;
    border-top:1px dashed #e2e2e2;
    width:450px;
}
.fresh-guide-con-wrap .line_l{
    left:20px;
}

.fresh-guide-con-wrap .line_r{
    right:20px;
}

.fresh-guide-con-pattern img{
    display: block;
    width:1164px;
    margin:0 auto;
}
.fresh-guide-con-gift li{
		border-radius:5px;
    width:380px;
    height:300px;
    float: left;
    margin:0 5px 20px;
    background:#f5f5f5;
}
.lingqu1{
	width:166px;
	height:40px;
	font-size: 20px;
	background:red;
	text-align:center;
	color:#ffffff;
	border-radius: 5px;
	margin: 20px 0;
	line-height: 40px;
	display:inline-block;
	margin-left: 30px;
	cursor:pointer;
}
.fresh-guide-con-gift ul{
    width:1170px;
    margin:0 auto;
}
.fresh-guide-con-gift p{
    text-align: center;
}
.fresh-guide-con-gift .l1{
	border-radius:5px;
    height:52px;
    line-height: 52px;
    background: #6cce85;
    color:#ffffff;
    font-size:30px;
    margin-bottom:28px;
}
.fresh-guide-con-gift .l2{
    height:40px;
    line-height: 40px;
    color:#666666;
    font-size:22px;
}
.fresh-guide-con-gift .l3{
    height:60px;
    line-height: 60px;
    color:#6CCE85;
    font-size:50px;
    margin-bottom:14px;
}
.fresh-guide-con-gift .l4{
    width:230px;
    margin:0 auto 10px;
    height:70px;
    line-height: 70px;
    color:#666666;
    font-size:18px;
    border-top:1px dashed #666666;
}
.fresh-guide-con-gift .l5{
    display: block;
    width:172px;
    height:44px;
    line-height: 44px;
    text-align: center;
    margin:0 auto;
    background:#7ab682;
    color:#ffffff;
    font-size:24px;
    border-radius: 10px;
}
.fresh-guide-con-skilled .content{
    padding:0 20px;
    color:#666666;
}
.fresh-guide-con-skilled .left{
    width:100%;
}
.fresh-guide-con-skilled .l1,.fresh-guide-con-skilled .l3{
    font-size:22px;
    margin-bottom:14px;
}
.fresh-guide-con-skilled .l1{
    height:22px;
}
.fresh-guide-con-skilled .l3{
    height:22px;
}
.zhongchou1{
	width:46%;
	display:inline-block;
	vertical-align:top;
	margin-top:20px;	
}
.touzi1{
	width:46%;
	display:inline-block;
	vertical-align:top;
	margin-left: 80px;
	margin-top:20px;
}
.fresh-guide-con-skilled .l2,.fresh-guide-con-skilled .l4{
    font-size:18px;
    line-height: 30px;
}

/* publicity */
.publicity-ban-wrap{
/*background:url(../images/publicity_banner_bg.jpg) no-repeat center center #076239;*/
}
.publicity-ban{
height:300px;
width:1200px;
margin:0 auto;
color:#ffffff;
text-align:center;
font-size:24px;
overflow: hidden;
}
.publicity-ban p{
margin-top:186px;
}
.publicity-ban span{
margin-right:16px;
margin-left:22px;
color:#666666;
background:#ffffff;
display:inline-block;
min-width: 60px;
text-align: center;
border-radius:2px;
}
.publicity-con-w{
background:#f4f5fa;
}
.publicity-con{
width:1200px;
margin:0 auto;
overflow: hidden;
}
.publicity-con .brief,.publicity-con .chart,.publicity-con .rank{
background:#ffffff;
margin-bottom: 20px;
border:1px solid #f0f1f3;
overflow: hidden;
}
.publicity-con .brief{
height:620px;
margin-top:20px;
}
.publicity-con .chart{
height:360px;
}
.publicity-con #publicity-con-chart{
padding-left:64px;
}
.publicity-con #publicity-con-chart,.publicity-con .pub-chart-left{
float: left;
}
.publicity-con .pub-chart-left{
padding-top:22px;
}
.publicity-con .c-title{
font-size: 14px;
color:#666666;
margin-bottom: 0;
}
.publicity-con .rank{
height:542px;
}
.publicity-con .title{
position:relative;
margin-top:36px;
margin-bottom:36px;
height:16px;
line-height: 16px;
}
.publicity-con p{
font-size:24px;
color:#79B682;
height:30px;
line-height: 30px;
margin-bottom:20px;
}
.publicity-con .c-sum{
font-size:30px;
}
.publicity-con h3{
width:200px;
margin:0 auto;
color:#79B682;
font-size: 24px;
text-align:center;
}
.publicity-con .line_l,.publicity-con .line_r{
position:absolute;
top:12px;
display: block;
border-top:1px dashed #e2e2e2;
width:480px;
}
.publicity-con .line_l{
left:20px;
}

.publicity-con .line_r{
right:20px;
}
.publicity-con .brief .title{
margin-bottom:0;
}
.publicity-con .brief li{
float: left;
width:33.33%;
height:277px;
}
.publicity-con .brief p{
text-align:center;
}
.publicity-con .brief .l1{
margin-top:185px;
height:52px;
line-height: 52px;
font-size: 24px;
color:#000000;
margin-bottom:0;
}

.publicity-con .brief .l2{
height:16px;
line-height: 16px;
font-size: 16px;
color:#666666;
}
.publicity-con .brief li{
background-repeat: no-repeat;
background-position: center 40px;
}
.publicity-con .brief .brief_li1{
/*background-image:url(../images/publicity_bref_bg_1.png);*/
}
.publicity-con .brief .brief_li2{
/*background-image:url(../images/publicity_bref_bg_2.png);*/
}
.publicity-con .brief .brief_li3{
/*background-image:url(../images/publicity_bref_bg_3.png);*/
}
.publicity-con .brief .brief_li4{
/*background-image:url(../images/publicity_bref_bg_4.png);*/
}
.publicity-con .brief .brief_li5{
/*background-image:url(../images/publicity_bref_bg_5.png);*/
}
.publicity-con .brief .brief_li6{
/*background-image:url(../images/publicity_bref_bg_6.png);*/
}
.publicity-con .rank{
position:relative;
}
.publicity-con .rank table{
width:1160px;
margin:0 auto;
border-top:2px solid #eaeaea;
}
.publicity-con .rank th,.publicity-con .rank td{
width:25%;
text-align:center;
}
.publicity-con .rank th{
color:#333333;
font-size:15px;
}
.publicity-con .rank thead tr{
height:60px;
background:#fafafa;
}
.publicity-con .rank td{
height:58px;
font-size:15px;
color:#999999;
}
.publicity-con .rank .odd{
background:#ffffff;
}
.publicity-con .rank .even{
background:#fafafa;
}
.publicity-con .rank p{
right:20px;
font-size:12px;
color:#999999;
float:right;
bottom:20px;
margin-top: 15px;
}
.login-content-right .recmd-w .recmd{
font-size: 14px;
color:#79b682;
cursor: pointer;
}
.login-content-right .recmd-w{
position:relative;
}
.login-content-right .recmd-arr{
position:absolute;
width:8px;
height:13px;
    /*background:url(../images/member/reg_inv_code_arr.png);*/
    left:134px;
    top:3px;
    -webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;
    }
    .login-content-right-item .shown .recmd-arr{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    }
    .recmd-input-w{
    display: none;
    }
    .addresslists{
    overflow: hidden;
    }

    .m-chk-w{position:relative;display:inline-block;width:22px;height:22px;overflow: hidden;vertical-align: middle;}
    .m-chk-w input{position:absolute;width:22px;height:22px;margin-top:0;opacity:0;filter:alpha(opacity=0);}
    .m-chk-w label{display:inline-block;width:22px;height:22px;/*background-image:url(../images/member/check_bg.png);margin:0;*/background-repeat: no-repeat;}
.m-chk-w .chked{background-position:0 -31px;}
.m-chk-w span{vertical-align: middle;}

.pay_way .fr .m-chk-w input{margin:0;}
.pay_way .fr .m-chk-w{margin:0 0 -10px 60px;}
.pay_way label{font-weight: normal;cursor: pointer;}
.my-ado-head-x{
width:100%;
background: #f4f5fa;
height: 54px;
font-size: 16px;
line-height: 54px;
}
.my-ado-head-x li{
float: left;
width:20%;
text-align: center;
}
.my-ado-head-s{
width:100%;
background: #f4f5fa;
height: 54px;
font-size: 16px;
line-height: 54px;
margin-top:10px;
}
.my-ado-head-s li{
float: left;
width:16.5%;
text-align: center;
}
.my-c-fund-tite-bar li{
float: left;
width:20%;
text-align: center;
}
.my-c-fund-tite-bar{
width:100%;
background: #f4f5fa;
height: 30px;
font-size: 16px;
line-height: 30px;
margin-top:10px;
}
.my-c-fund-tite-bars{
width:100%;
background: #f4f5fa;
height: 30px;
font-size: 16px;
line-height: 30px;
margin-top:10px;
}
.my-c-fund-tite-bars li{
float: left;
width:20%;
text-align: center;
}
.my-ado-head-ws{
width:100%;
background: #f4f5fa;
height: 30px;
font-size: 16px;
line-height: 30px;
margin-top:10px;
}
.my-ado-head-ws li{
float: left;
width:20%;
text-align: center;
}
.iphonea{
text-align: center;
}
.yanzheng1{
text-align: center;
margin-top:15px;
}
.yanzheng2{
margin-top:15px;
}
#y1{
padding: 0px;
  top: 81px;
left: 434px;
text-align: center;
}
#y11{
padding: 0px;
top: 81px;
left: 471px;
text-align: center;
}
#y2{
    padding: 0px;
  top: 81px;
left: 434px;
text-align: center;
}
#y22{
padding: 0px;
  top: 81px;
left: 434px;
text-align: center;
}
#jiazai{
width:285px;
height:50px;
}
#sec-edit-logpsd-tc-6{
width:auto;
}
#zr_0{
width:750px;
}
.text-center{
text-align: center;
margin-top: 15px;
}
#gongname{text-align: left;font-size: 18px;}
.ado-list-head th{
 width: 33.33%;
 text-align: center;
}
.downone{
width:75px;
}
.foot-list-content-erweima{
text-align: center;
}
.agreement{
text-decoration:underline;
cursor:pointer
}
.agreement1{
text-decoration:underline;
}
#t-c-record{
min-height: 200px;
}
.people{
width:800px;
margin:0 auto;
padding:50px;
}
#select{
right: 47px;
position: absolute;
cursor:pointer;
}
#anquanyanzheng{
background-color: #F3F5FA;
    z-index: 2;
}
.contactme img{
width:100%;
}
.jianjie{
padding:15px;
font-size: 16px;
}
.jiangli{
padding: 10px;

}
.biaoti{
font-size: 19px;
margin-top: 25px;
}
.newphone{
display: inline-block;
}
#newphone1{
border-radius:5px;
padding-left:6px;
width:298px;
line-height: 30px;
font-size:18px;
}
.anniu1{
width: 500px;
margin: 0 auto;
}
.clickone{
    min-height: 20px;
padding-left: 20px;
margin-bottom: 0;
font-weight: 400;
cursor: pointer;
}
.chongzhiall{padding-top: 30px;}
.next3{margin-left: 10px;}
.tan{
margin:5px 5px 0px 112px;

width:4%;
vertical-align:top;
}
.fresh-guide-con-gift .clearfix li:hover{
position:relative;
bottom:10px;
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
-moz-box-shadow:  1px 1px 8px rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
-o-box-shadow:  1px 1px 8px rgba(0, 0, 0, 0.7);
-ms-box-shadow:  1px 1px 8px rgba(0, 0, 0, 0.7);
}
.award .clearfix li .coupon:hover{
position:relative;
bottom:5px;
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
-moz-box-shadow:  1px 1px 8px rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
-o-box-shadow:  1px 1px 8px rgba(0, 0, 0, 0.7);
-ms-box-shadow:  1px 1px 8px rgba(0, 0, 0, 0.7);
}
.yemian{
    width: 53px;
bottom: 20px;
right: 10px;
position: fixed;
_position: absolute;
background: #fff;
border: 1px solid #e0e0e0;
z-index: 999;
font-family: "微软雅黑";
font-size: 12px;
display: block;
}

.ding23{width:100%;color: #000000;}
.ding23 td{
font-size:16px;
height:33.5px;
border:1px solid #F3F3F3;
color: #000000;
}
.ding23 .ding23-3{
width: 30%;
background-color: #E1E1E1;
text-align: center;
}
.ding23 .ding23-4{
width: 69%;
padding-left: 5px;
}
.rechargr8{text-align: center;margin-top: 25px;}
.rechargr8 .chongzhi5{padding: 3px 8px;background-color: #6CCE85;border-color:#6CCE85;color: #ffffff;border-radius:3px;  }
.rechargr8 .next5{margin-left: 10px;}
.tianzhong{color: #67D692;}
.tianzhong1{float:right;}
.tianzhong2{float:right;}
#ec-edit-logpsd-tc-56{text-align: center;}
#baocun22{margin-top: 20px;}
#baocun21{margin-top: 20px;}
.wangjimima{text-align: right;text-decoration:underline;cursor:pointer;}
#huidiao{background-color: #999999;}
#helpcenter{font-size: 17px;}
#helpcenter{width:auto;font-size: 25px;font-weight: 500;line-height: 60px;border-bottom: 1px dashed #666666;}
.huidiao{background: #999999;}
.chongzhi{display: inline-block;width: 50%;vertical-align:top;}
.index-content-right-sponsor{padding-top: 20px;}
.index-content-right{padding:20px;margin-top: 10px;}
.index-content-right-sponsor{margin-top: 5px;}
#zidong{padding-left: 5px;}
.leftone{margin: 0 auto;width: 85%}
#liebiao25 li{width: 25%;}
.welfare-c .my-ado-head-x li{width: 25%;}
#my-adoption-main .ado-list .ado-list-head li{font-size: 18px;}
.guanyu12{
    overflow: hidden;
margin: 0 auto;
color: #282828;
text-align: center;
font-weight: 400;
font-size: 26px;
line-height: 80px;
}
.article-info{
padding-top: 30px;
padding-bottom: 60px;
text-align: center;
}
.article-date{
padding-right: 35px;
font-size: 12px;
}
.reader-num{
margin-right: 15px;
padding: 4px 5px;
border: 1px solid #E0E0E0;
border-radius: 3px;
font-size: 12px;
}
.renyangxieyi11{width: 90%;margin: 0 auto;}
.renyangxieyi11 img{
width: 33%;
}
.meiti1{width: 35%;display: inline-block;vertical-align:middle;}
.meiti2{width: 64%;display: inline-block;padding-top: 2px;vertical-align:middle;}
.meiti1 img{width: 80%;}
.meiti2 p{font-size: 15px;line-height: 32px;}
.help-center-right p{
color: #666;
line-height: 36px;
text-indent:20px;
font-size: 16px;
height: 36px;
}
.baoxian54 img{width: 24%;}
.people img{
width: 100%;
}
.banner-sty{width: 11418px; height: 300px; transform: translate3d(-5709px, 0px, 0px); transition-duration: 0.3s;}

.green-bg-color:hover{ background:red;}
#green-bgr{ background:darkgrey;}
#green-bgr:hover{ background:red;}
.investnebt-adoption-image{ }
.floor-item-content-wrap {

    width: 420px;
}
.element.style {
    visibility: hidden;

}

 .floor-item-title {
    width: 420px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;
}

.floor-price {
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    text-align: center;
}
.one-grid-price img {
    width: 185px;
    height: 185px;
}

.floor-item-tag {
    width: 68px;
    height: 20px;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    margin: 0 auto;
}
.floor-item-img{
    width: 410px;
    height: 200px;
    margin: 0px 5px;
    text-align: center;
}
.investnebt-adoption-image div{ float: left;}
.investnebt-adoption-image{ display:inline-block;}
.cancel{margin: 0px; padding: 0px; cursor: pointer; display: none;}

.ii{ margin: 30px 11px;  color: #7c8187;}