/* investment-adoption-profit */
.investment-profit-w{background:#f4f5fa;overflow: hidden;}
.investment-profit{width:1200px;margin:0 auto;}
.investment-profit .content{padding:20px;margin-bottom:20px;border:1px solid #eeeeee;background:#ffffff;}
.investment-profit .investment-info{height:420px;background:#ffffff;/*padding-top:0px;*/}
.investment-profit .inves-img-w,.investment-profit .inves-des-w{float:left;height:100%;}
.investment-profit .inves-img-w{width:290px;height:290px;margin-top:44px;display: table-cell;vertical-align:middle;text-align:center;font-size: 180px;*font-size: 175px;}
.investment-profit .inves-img-w img{vertical-align:middle;max-width: 290px;max-height: 290px;}
.investment-profit .inves-des-w{width:838px;padding-left:60px;}
.inves-des-w h3{font-size:25px;height:25px;line-height: 25px;color:#333333;}
.inves-des-w .invent-text{height:50px;line-height:50px;font-size:15px;color:#686868;}
.inves-des-w table{  width:350px;  }
.inves-des-w tr{  height:30px;  }
.inves-des-w .colu1{  width:200px;  padding-left:28px;  color:#858585;  }
.inves-des-w .colu2{  font-size:18px;  color:#79B682;  }
.inves-des-w .agree-check{  margin:28px 0;  }
.inves-des-w .agree-check input{  margin:0 15px 0 30px;  }
.inves-des-w .sub{  width:220px;  height:34px;  background:#4bb14d;  text-align:center;  border-radius:4px;  color:#ffffff;  border:none;  font-size:20px;  margin-left:62px;  }
.inves-des-w .odd{  background: #f3f3f3;  }
.inves-des-w .table-w{margin-bottom:48px;}
.inves-des-w .table-w table{float:left;}
.inves-des-w .table-w .table-left{margin-right:74px;}
.inves-des-w .pub{margin-right:4px;}
.inves-owner{width:778px;height:130px;background:#f8fefa;}
.inves-owner .fl{width:100px;background:#6ec783;height:130px;;}
.inves-owner .fl p{color:#ffffff;text-align:center;height:65px;line-height: 65px;font-size: 15px;}
.inves-owner .fl .p1{border-bottom:1px dashed #61b874;}
.inves-owner .owners,.inves-owner .owners .author,.inves-owner .owners .helper{width:678px;}
.inves-owner .owners{float:left;}
.inves-owner .owners .author,.inves-owner .owners .helper{height:65px;}
.inves-owner .owners .helper li{float:left;width:166px;height:32px;padding-left:28px;padding-top:2px;}
.inves-owner .owners .author{padding-top:16px;padding-left:2px;}
.inves-owner .owners span{margin-left:6px;}
.inves-owner .owners img{width:22px;height:22px;border-radius: 11px;}
.investment-profit{min-height:236px;}

.investment-profit .left,.investment-profit .right,.investment-profit .center{float:left;}
.investment-profit .left{width:617px;}
.investment-profit .left .l1{height:48px;line-height: 48px;font-size: 16px;color:#666666;padding:0 14px 0 30px;}
.investment-profit .left .packages li{width:96px;height:28px;line-height:28px;text-align:center;float:left;background:#f0f0f0;border-radius:8px;margin:8px 0 0 27px;  cursor: pointer;color:#666666;}
.investment-profit .left .pkg-des li{display:none;}
.investment-profit .left .pkg-des .checked{display:block;}
.investment-profit .left .pkg-des span,.investment-profit .left .pkg-des p{font-size:16px;float:left;width:488px;}
.investment-profit .left .pkg-des span{display:inline-block;width:124px;height:56px;line-height:56px;text-align:center;color:#4BB14D;}
.investment-profit .left .pkg-des p{padding-left:24px;line-height:25px;margin-top:15px;color:#666666;}
.investment-profit .left .packages .checked{background:#4bb14d;color:#ffffff;}
.investment-profit .center{width:383px;height:100px;}
.investment-profit .right{width:150px;height:100px;}
.investment-profit .center p{margin-top:98px;color:#555555;font-size:15px;text-align:center;}
.investment-profit .center .rmb,.investment-profit .center .price{font-size:30px;}
.investment-profit .center .price,.investment-profit .agreement a:hover{color:#4BB14D;}
.investment-profit .agreement{margin-top:92px;}
.investment-profit .agreement a,.investment-profit .agreement span{font-size:15px;color:#555555;}
.investment-profit .right .sub_btn{width:144px;height:36px;display:inline-block;border-radius:10px;font-size:18px;text-align:center;line-height:36px;margin-top:10px;background:#dddddd;color:#ffffff;}
.investment-profit-w .investment-profit .right .checked{background:#4bb14d;}
.investment-profit .right input{margin:0 12px 0 6px;}

/**/


/* adoption-detail */
.adoption-detail-w{
    background:#F3F5FA;
    overflow: hidden;
}
.adoption-detail-des,.adoption-detail-w .adoption-detail-content{
    width:1200px;
    margin: 0 auto;
    border:1px solid #eeeeee;
    margin-top:20px;
    background:#ffffff;
    padding:20px;
}

.adoption-detail-des{
    height:455px;
}
.adoption-detail-des .pig_img,.adoption-detail-des .center,.adoption-detail-des .right{
    float:left;
}
.ado-counter input{
    width:24px;
    border:1px solid #d4d4d4;
    float:left;
    text-align: center;
    background:#efefef;
    height:22px;
}
.ado-counter .num{
    background:#ffffff;
    width:30px;
    border-left:none;
    border-right:none;
}
.ado-counter span{
    margin-left:5px;
}
.ado-counter .forbid{
    background:#ededed;
    color:#cccccc;
}
.adoption-detail-des .pig_img{
    margin:80px 0 0 30px;
}
.adoption-detail-des .center{
    width:590px;
    padding:0 120px;
    height:100%;
}
.adoption-detail-des h2{
    font-size: 25px;
    padding-left:30px;
    color:#333333;
    font-weight: normal;
}
.adoption-detail-des .title2{
    font-size:15px;
    color:#686868;
    padding-left:30px;
    height:56px;
    line-height:56px;
}
.adoption-detail-des table{
    width:100%;
}
.adoption-detail-des .center tr{
    height:30px;
}
.adoption-detail-des .center .colu1{
    width:200px;
    padding-left:28px;
    color:#858585;
}
.adoption-detail-des .center .colu2{
    font-size:18px;
    color:#79B682;
}
.adoption-detail-des .agree-check{
    margin:28px 0;
    text-align: center;
}
.adoption-detail-des .agree-check input{
    /*margin:0 15px 0 30px;*/
}
.adoption-detail-des .sub{
    width:220px;
    height:34px;
    background:#4bb14d;
    text-align:center;
    border-radius:4px;
    color:#ffffff;
    border:none;
    font-size:20px;
    margin-left:62px;
}
.adoption-detail-des .odd{
    background: #f3f3f3;
}
.adoption-detail-des .right{
    width:325px;
    height:100%;
}

.adoption-detail-des .right table{
    border:1px solid #e4eee6;
    width:300px;
}
.adoption-detail-des .right tr{
    border:1px solid #e4eee6;
}
.adoption-detail-des .right td{
    text-align:center;
}
.adoption-detail-des .right .colu1{
    width:116px;
}
.adoption-detail-des .right thead tr{
    height:40px;
    background:#6ec783;
}
.adoption-detail-des .right thead td{
    color:#ffffff;
}
.adoption-detail-des .right thead .colu2{
    font-size:18px;
}

.adoption-detail-des .right tbody tr{
    height:36px;
    background:#f8fefa;
}
.adoption-detail-des .right tbody td{
    color:#57B56E;
}

.adoption-detail-content .tab-btn li{
    float:left;
    width:33.3333%;
    text-align:center;
    margin-bottom:-1px;
}
.adoption-detail-content .tab-btn{
    border-bottom:1px solid #e7e7e7;
}
.adoption-detail-content .tab-btn .active{
    border-bottom:2px solid #6dce87;
}

.adoption-detail-content .tab-btn .active a{
    border:none;
}
.adoption-detail-content .tab-btn a:hover{
    color:#6CCE85;
}
.adoption-detail-content .tab-content{
    /*position:relative;*/
    /*height:3800px;*/
}
.adoption-detail-content .tab-content li{
    /*position:absolute;*/
    position: static;
    display:none;
    width:100%;
}
.adoption-detail-content .tab-content .active{
    display: block;
}
.adoption-detail-content li span{
    cursor:pointer;
    display: inline-block;
    height:22px;
    line-height: 22px;
    font-size:15px;
}
.adoption-detail-content .active span{
    color:#6CCE85;
}
.adoption-detail-content .tab-line{
    width:764px;
    height:8px;
    background:#47b24a;
    margin:20px auto 16px;
}
.adoption-detail-content #t-c-agreements,.adoption-detail-content #t-c-detail,.adoption-detail-content #t-c-record{
    text-align:center;
}
.adoption-detail-content .t-c-detail img{
    display: inline-block;
}
.adoption-detail-content .t-c-agreements,.adoption-detail-content .t-c-record{
    /*display:none;*/
}
.adoption-detail-content .t-c-record table{
    width:100%;
}
.adoption-detail-content .t-c-record thead tr{
    height:60px;
}
.adoption-detail-content .t-c-record th{
    text-align: center;
    font-size:18px;
    color:#999999;
    font-weight: normal;
}
.adoption-detail-content .t-c-record tr{
    height:50px;
}
.adoption-detail-content .t-c-record td{
    color:#999999;
    font-size:14px;
}
.adoption-detail-content .t-c-record .odd{
    background:#f7f7f7;
}
.adoption-detail-content .t-c-agreements img{
    margin-top:36px;
}


/*.investment-profit{background:#ffffff;}*/
.adoption-detail-content .tab-btn li{float:left;width:33.3333%;text-align:center;margin-bottom:-1px;  }
.adoption-detail-content .tab-btn{  border-bottom:1px solid #e7e7e7;  }
.adoption-detail-content .tab-btn .active{  border-bottom:2px solid #6dce87;  }
.adoption-detail-content .tab-btn .active a{  border:none;  }
.adoption-detail-content .tab-btn a:hover{  color:#6CCE85;  }
.adoption-detail-content{background:#ffffff;padding:20px;margin-bottom:20px;padding-top: 0px;}
.adoption-detail-content .tab-content li{  position: static;  display:none;  width:100%;  }
.adoption-detail-content .tab-content .active{  display: block;  }
.adoption-detail-content li span{ cursor:pointer;  display: inline-block;  height:22px;  line-height: 22px;  font-size:15px;  }
.adoption-detail-content .active span{  color:#6CCE85;  }
.adoption-detail-content .tab-line{  width:764px;  height:8px;  background:#47b24a;  margin:20px auto 16px;  }
.adoption-detail-content #t-c-agreements,.adoption-detail-content #t-c-detail,.adoption-detail-content #t-c-record{  text-align:center;  }
.adoption-detail-content .t-c-detail img{  display: inline-block;  }
.adoption-detail-content .t-c-record table{  width:100%;  }
.adoption-detail-content .t-c-record thead tr{  height:60px;  }
.adoption-detail-content .t-c-record th{  text-align: center;  font-size:18px;  color:#999999;  font-weight: normal;  }
.adoption-detail-content .t-c-record tr{  height:50px;  }
.adoption-detail-content .t-c-record td{  color:#999999;  font-size:14px;  }
.adoption-detail-content .t-c-record,.adoption-detail-content .t-c-agreements{display: none;}
.adoption-detail-content .t-c-record .odd{  background:#f7f7f7;  }
.adoption-detail-content .t-c-agreements img{  margin-top:36px}

/* investment-adoption-state-keeping */
.inves-ado-state-w{background:#f4f5fa;overflow: hidden;}
.inves-ado-state{width:1200px;margin: 0 auto;overflow: hidden;}
.inves-ado-state .state-w{margin-bottom:20px;}
.inves-ado-state .state,.inves-ado-state .rate{height:434px;background:#FFF;border:1px solid #e3e3e3;}
.inves-ado-state .state{float:left;width:818px;}
.inves-ado-state .rate{float:right;width:352px;}
.inves-state-img-w{display:table-cell;width:218px;height:218px;font-size:130px;float:left;margin:94px 90px 0 46px;vertical-align: middle;text-align: center;}
.inves-state-img-w img{vertical-align: middle;}
.ado-counter input{  width:24px;  border:1px solid #d4d4d4;  float:left;  text-align: center;  background:#efefef;  height:22px;  }
.ado-counter .num{  background:#ffffff;  width:30px;  border-left:none;  border-right:none;  }
.ado-counter span{  margin-left:5px;  }
.ado-counter .forbid{  background:#ededed;  color:#cccccc;  }
.inves-ado-state .pig_img{  margin:80px 0 0 30px;  }
.inves-ado-state .center{  width:440px;  float:left; padding-top:12px;margin-top: 40px;}
.inves-ado-state h2{  font-size: 25px;  padding-left:30px;  color:#333333;  font-weight: normal;  }
.inves-ado-state .title2{  font-size:15px;  color:#686868;  padding-left:30px;  height:40px;  line-height:40px;  }
.inves-ado-state table{  width:100%;  }
.inves-ado-state .center tr{  height:30px;  }
.inves-ado-state .center .colu1{  width:200px;  padding-left:28px;  color:#666666;  }
.inves-ado-state .center .colu2{  font-size:18px;  color:#79B682;  }
.inves-ado-state .agree-check{  height:22px;line-height:22px;margin:10px 0;}
/*.inves-ado-state .agree-check input{  margin:0 15px 0 134px;  }*/
.inves-ado-state .sub{  width:260px;  height:43px;  background:#4bb14d;  text-align:center;  border-radius:4px;  color:#ffffff;  border:none;  font-size:20px;  margin-left:65px ;  }
.inves-ado-state .odd{  background: #f3f3f3;  }
.inves-ado-state .un-ava{background:#e3e3e3;}

.inves-ado-state .m-chk-w{margin-left:134px; }
.m-chk-w{position:relative;display:inline-block;width:22px;height:22px;overflow: hidden;vertical-align: middle;}
.m-chk-w input{position:absolute;width:22px;height:22px;margin-top:0;opacity:0;filter:alpha(opacity=0);}
.m-chk-w label{display:inline-block;width:22px;height:22px;background-image:url(../images/member/check_bg.png);margin:0;background-repeat: no-repeat;}
.m-chk-w .chked{background-position:0 -31px;}
.m-chk-w span{vertical-align: middle;}

.inves-ado-state .rate dl,.inves-ado-state .rate p{padding-left:50px;padding-right:46px;}
.inves-ado-state .rate dt,.inves-ado-state .rate dd{height:54px;line-height: 54px;border-bottom:1px solid #f5faf6;}
.inves-ado-state .rate dt{font-size:18px;color:#666;}
.inves-ado-state .rate dd{font-size:14px;color:#57B56E;}
.shouyilv{float:right;}
.inves-ado-state .rate p{height:23px;line-height: 23px;font-size:14px;color:#57B56E;padding-top:8px;}
#tab-container li{line-height:40px;font-size: 20px;}
.adoption-detail-content{width:1200px;margin:0 auto 20px;}