/* market-invent */
.invent-ban{height:300px;background:url(../images/banner_1.jpg) no-repeat center center #fb5d5a;}

.invent-content-wrap{background:#f4f5fa;overflow: hidden;}
.invent-content{width:1200px;height:920px;margin:20px auto 28px;background:#ffffff;overflow: hidden;padding:0 20px;}
.invent-content .title{ position:relative;  margin-top:36px;  margin-bottom:36px; }
.invent-content h3{  width:240px;  margin:0 auto;  color:#666666;  font-size: 30px;  text-align:center;  }
.invent-content .line_l,.invent-content .line_r{  position:absolute;  top:16px;  display: block;  border-top:1px dashed #e2e2e2;  width:420px;  }
.invent-content .line_l{left:0;}
.invent-content .line_r{right:0;}

.award{height:210px;background:#f5f6f8;border:1px solid #e3e3e3;overflow: hidden;}
.frend-award{margin-bottom:36px;}
.frend-award li{float:left;width:255px;text-align:center;}
.frend-award li a{color:#666666;font-size:16px;}
.frend-award .li_1{margin:0 258px 0 204px;}
.frend-award li img{margin-bottom:12px;}
.invent-content .award ul li{width:25%;float:left;}
.award .coupon{width:250px;height:120px;margin:20px auto;background:#ffffff;border-radius:6px;overflow: hidden;}
.award .coupon p{text-align:center;}
.award .coupon span{font-size:25px;color:#FF5757;margin-right:4px;}
.coupon .l1{height:25px;margin-top:12px;margin-bottom:12px;line-height:25px;}
.coupon .l1 p{font-size:17px;color:#ffffff;}
.coupon .l2{height:30px;line-height:30px;background:#ff5757;color:#ffffff;cursor:pointer;}
.coupon .l3{hegiht:38px;line-height: 38px;color:#666666;font-size: 12px;}
.invent-content .award-rule{display:inline-block;width:145px;height:30px;line-height:30px;text-align:center;margin-left:508px;background:#ff5656;color:#ffffff;font-size:17px;border-radius:6px;}
.share-href-p{height:40px;line-height: 40px;font-size: 13px;color:#000000;}
.share-href-w{height:58px;position:relative;}
.share-href-w .bdsharebuttonbox{position:absolute;right:56px;top:-6px;z-index:1;}
.share-href-w .bdsharebuttonbox a{display:block;width:146px;height:58px;background:none;}
.share-href-w input{height:58px;line-height:58px;width:628px;border:1px solid #e6e6e6;padding-left:12px;color:#666666;}
.share-href-w span{display: inline-block;width:146px;height:58px;border-radius: 4px;background-color: #ff5757;line-height: 58px;color:#ffffff;text-align:center;font-size:16px;cursor:pointer;}
.share-href-w .send-to-mobi{background-image:url(../images/market/invent_share_ico.png);user-select:none;background-repeat:no-repeat;background-position:18px 13px;padding-left:36px;}
.share-copy{margin:0 90px 0 80px;}
.share-href-w .input:disabled{background:#ffffff;}
.invent-code{height:70px;line-height:70px;}
.invent-code span{display: inline-block;}
.invent-code .share-area{width:288px;float:left;}
.bshare-custom {display:inline-block;}
.share-area .share-text{}
.share-area .bdsharebuttonbox,.share-area .share-text,.share-area .share-text2{float:left;}
.share-area .bdshare-button-style0-32{margin-left:14px;}
.share-area .bdshare-button-style0-32 a{margin: 18px 14px 0px 0;}
#bdshare_weixin_qrcode_dialog{height:330px !important;}