/*帮助中心*/
.help-center-container{  width: 100%;  background: #f3f5fa;  overflow: hidden;  }
.help-center-content{  width: 1200px;  margin: 0 auto;  padding: 25px 0; }
.help-center-slider{  width: 150px;  border: 1px solid #ececed;  display:inline-block;  }
.help-center-slider p{  line-height: 50px;  background: #efeeee;  position: relative;  font-size: 18px;  color: #7c8187;  text-align: center;  }
.help-center-slider p img{  position: absolute;  top: 0;  left: -8px;  }
.accordion>li{  line-height: 50px;  border-bottom: none!important;  background: #fff;  cursor: pointer;  }
.help-center-slider ul li{  line-height: 54px;  border-bottom: 1px solid #ececed;  background: #ffffff;  cursor: pointer;  }
.help-center-slider ul li a{  color: #333333;  }
.help-center-slider ul li:focus a,.help-center-slider ul li a:hover{  color: #79b682;  }
.help-center-slider ul li.active a{  color: #79b682;  }
.help-center-right{  width: 1024px;  border: 1px solid #ececed;  padding: 20px;  background: #fafafa;  overflow: hidden;  }
.help-center-right-title{  border-bottom: 1px solid #79b682;  }
.help-center-right-title span{  font-size: 20px;  padding: 10px 50px;  background: #79b682;  float: left;  color: #fff;  }
.help-center-right-content1{  position: relative;  border-left: 2px solid #79b682;  padding-left: 40px;  }
.help-center-right-content1 img{  position: absolute;  top: 12px;  left: -12px;  }
.help-center-right-content1 h1{  font-size: 18px;  line-height: 1;  }
.help-center-right-content1 p{  color: #9297a0;  font-size: 13px;  }
.help-center-right-content1 i{  position: absolute;  bottom: 17px;  left: 0;  }
.accordion .link {  cursor: pointer;  display: block;  font-size: 14px;  border-bottom: 1px solid #ececed;  position: relative;  -webkit-transition: all 0.4s ease;  -o-transition: all 0.4s ease;  transition: all 0.4s ease;  text-align: left;  padding-left: 38px;  color: #333;  }
.accordion li i {  position: absolute;  left: 22px;  top:16px;  font-size: 18px;  color: #aaaaaa;  -webkit-transition: all 0.4s ease;  -o-transition: all 0.4s ease;  transition: all 0.4s ease;  }
.accordion li.open i.fa-caret-right {  -webkit-transform: rotate(90deg);  -ms-transform: rotate(90deg);  -o-transform: rotate(90deg);  transform: rotate(90deg);  }
.submenu {  display: none;  background: #ffffff;  font-size: 13px;  }
.submenu a {  display: block;  text-decoration: none;  text-align: left;  color: #666;  padding-left: 38px;  -webkit-transition: all 0.25s ease;  -o-transition: all 0.25s ease;  transition: all 0.25s ease;  }

/* my-farm */
.my-farm-content{  padding:0;  }

#myfarm-main{width:1030px;float:left;}
#myfarm-main .info{width:100%;padding-left:20px;padding-right:20px;background:#fff;border:1px solid #ebecee;margin-bottom:20px;}
#myfarm-main .m_account{padding-top:20px;height:84px;width:100%;}
#asd{margin-top:20px;height:84px;width:100%;margin-bottom: 20px;background: #f3f5fa;padding:30px 20px;}
.m_account p,.m_account span{float: left;}
.m_account p{width: 170px;}
.m_account p span{float: none;display: inline;}
.m_account span{display: block;width:24px;height:24px;}
.m_greating{font-size:16px;color:#7a7a7a;position: relative;}
.m_greating .level{position: absolute;font-size: 15px;line-height:12px;top:26px;left:0;color: #79b682;width:54px;text-align:center;}
.m_greating .member{position:absolute;left:54px;top:26px;display:block;width:80px;height:22px;line-height:22px;font-size:12px;border-radius:4px;background:#79b682;color:#ffffff;text-align: center;}
.a_tel,.a_user,.a_lock{margin-right:24px;}
.a_tel{}
.a_user{background-position: 0 -24px;position: relative;}
.a_user .my-farm-tooltip{display:none;position: absolute;top:40px;left:35px;width:171px;height:54px;padding-top:8px;padding-left:9px;background:#79b682;font-size: 12px;color:#ffffff;border-radius: 2px;}
.my-farm-tooltip p,.tooltip a{height:18px;line-height:18px;}
.my-farm-tooltip a{color:#ffffff;}
.my-farm-tooltip .mf-close{position: absolute;top:6px;right:4px;cursor: pointer;width:12px;}
.my-farm-tooltip .arr{display: block;position: absolute;width:14px;height:11px;top:-11px;left:16px;/*background-image: url(../images/member/account_bg1.png);*/background-position: 0 -96px;}
.a_lock{background-position: 0 -48px;}
.a_msg{background-position: 0 -72px;}
.m_account .sec_level{width:230px;padding-left:10px;font-size: 14px;color:#7a7a7a}
.sec_tooltip,.sec_tooltip:hover{padding-left:10px;color:#79b682; }

.assets{height: 320px;}
.info h3{font-size: 24px;color: #5d5d5d;height: 62px;line-height: 62px;font-weight: normal;}
.a_sum{font-size: 20px;height:30px;line-height: 30px;margin-bottom:24px;color:#5d5d5d;position:relative; }
.a_sum span{font-size: 30px;color:#79b682;height:30px;vertical-align: bottom; }
.assets .assets_btn{width:178px;height:50px;line-height:50px;text-align:center;color:#ffffff;font-size:20px;background:#79b682;position:absolute;top:-16px;border-radius: 7px;}
.assets .recharge{right:372px;}
.assets .checkcash{right:100px;}
.assets .tr1{height:36px;}
.assets .tr2{height:48px;}
/*#myfarm-main .assets td{width:25%;}*/
#myfarm-main .assets .row1{width:250px;}
#myfarm-main .assets .row3{width:250px;}

.a_line{border-top:1px dashed #dbdbdb;border-bottom: 1px dashed #919191;margin-bottom:22px;}
.a_question{display: inline-block;width:16px;height:15px;/*background-image: url(../images/member/account_bg1.png);*/background-position: 0 -109px;margin:0 0 -2px 8px;}
.a_l1{height:25px;line-height: 25px;font-size:14px;margin:24px 0 32px 0;}
.a_l1 div{float: left;}
/*.l1_pay{margin:0 21px;}*/
.assets .tr2 .a_money{font-size: 25px;color:#79b682;}
.assets .tr2 .d_money{font-size:16px;color:#79b682;float: none;display: inline-block;text-align: center; }

.assets .a_l2{margin:0;}
.assets .tr2 .l1_sum{margin:0 0 0 82px;}
.assets .tr2 .a_money{width:200px;text-align: center;}

#myfarm-main table{width:100%; border-collapse: collapse;}
#myfarm-main td{text-align: center;}
#myfarm-main .profit td,#myfarm-main .field td{width:25%;}
.profit .tr1{background: #f3f5fa;}
.tr1 td{font-size: 16px;color: #5d5d5d;text-align: center;}
.tr2 td{color: #79b682;text-align: center;}
.count-data .info{    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
    border: 1px solid #ebecee;
    margin-bottom: 20px;}
.mymuchang{    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
    border: 1px solid #ebecee;
    margin-bottom: 20px;}
  
    .mymuchang table{ width: 100%;
    border-collapse: collapse; }
.profit table{margin:20px 0 18px;}
.profit .tr1{height:36px;}
.profit .tr2{height:45px;}
.profit .tr2 span{font-size:25px;margin-bottom:4px;}

.plan .tr1{height:40px;background: #f3f5fa;color:#232222;}
.field .tr2,.plan .tr2{height:60px;}
.field .tr2 span{font-size:25px;}
.field{padding-bottom:12px;}
.field td{border-right:1px dashed #b8b8b8;}
.field .no-border{border:none;}

#myfarm-main .plan td{width:20%;}
#myfarm-main .plan .tr2 td{font-size:20px;}

/* reg-success */
.reg-success-w{background:#f3f5fa;overflow: hidden;}
.reg-success{width:1200px;margin:20px auto 20px;background:#ffffff;height:646px;border:1px solid #ebecee;}
.reg-success .top{height:192px;width:1100px;margin:0 auto;text-align:center;border-bottom:1px dashed #dfdfdf;/*background:url(../images/member/reg_success_top_bg.png) center 40px no-repeat;*/}
.reg-success .top p{font-size:30px;color:#5ac10f;padding-top:140px;}
.reg-success .bottom{height:450px;/*background:url(../images/member/reg_success_bottom_bg.png) no-repeat center 34px;*/text-align:center;overflow: hidden;}
.reg-success .bottom p{font-size:14px;color:#999999;height:42px;line-height: 42px;}
.reg-success .bottom .p1{margin-top:288px;}
.reg-success .bottom .deposit{display:block;width:144px;height:46px;line-height:46px;margin:0 auto;color:#ffffff;background:#79b682;border:1px solid #4a9f0c;}
.reg-success .bottom .no-deposit{color:#999999;text-decoration:underline !important;}

/* my-adoption */
.my-adoption-w{overflow: hidden;}
#my-adoption-main{width:1030px;float:left;background:#ffffff;border:1px solid #e3e3e3;padding:20px;}
#my-adoption-main .option-w{height:30px;margin-top: 30px;}
#my-adoption-main .option-w a{display:inline-block;width:80px;height:30px;line-height:30px;text-align:center;float:left;background:#f6f6f6;color:#666666;margin-right:50px;border:1px solid #dfdfdf;border-radius: 4px;}
#my-adoption-main .option-w .active,#my-adoption-main .option-w :hover{background:#7ab682;color:#ffffff;font-size:16px;}
.my-ado-head-w{height:30px;background:#f3f5fa;margin:30px 0 10px;}
.my-ado-head-w li{width:20%;height:30px;line-height:30px;font-size:14px;color:#333333;text-align:center;float:left;}

.ado-list-head li{width:20%;height:30px;line-height:30px;font-size:14px;color:#333333;text-align:center;float:left;}
#zhuba li{width:16.5%;}
.ado-list{height:110px;background:#fbfcff;border:1px solid #f2f5fa;padding:10px 0px;}
.list11{ height: 69px;}
.list12{height:52px;margin-bottom: 0px;}
.list33 li{margin-right: -60px}
#list34 li{margin-right: 0px}
.ado-list-head .time{font-size:14px;color:#666666;}
.ado-list-head .rate{font-size:14px;color:#f9979a;}
.ado-list-c{height:30px;line-height:30px;margin-top:25px;}
.ado-list-c p,.ado-list-c input,.ado-list-c a{float:left;}
.ado-list-c p{width:384px;padding-left:152px;font-size:16px;color:#666666;}
.ado-list-c p span{color:#f9979a;font-size:18px;padding-left:44px;/*background:url(../images/member/ado_bg.png) no-repeat 20px 5px;*/}
.ado-list-c input{width:100px;height:30px;line-height:30px;margin-left:40px;background:#fbfcff;border:1px solid #79b581;border-radius:4px;color:#79b581;}
.ado-list-c a{margin:0 38px 0 9px;color:#2ea7e7;float: right;}
.ado-list-c .btns-w{width:426px;float:left;}
.page-btn li{float:left;text-align:right;height:34px;line-height: 34px;padding:0 8px;}
.page-btn li a{color:#666666;font-size:18px;}
.page-btn li a:hover,.page-btn li .active{color:#f70202;}
.page-btn .pre-btn a,.page-btn .next-btn a{display:inline-block;text-align:center;width:72px;height:34px;line-height:34px;border-radius: 8px;border:1px solid #dddddd;font-size:14px;color: #666666;}
.page-btn .pre-btn a:hover,.page-btn .next-btn a:hover{color:#f70202;}
.page-btn-w{text-align:right;}
.page-btn-w ul{float:right;}
.page-btn .pre-btn a{padding-left:10px;/*background:url(../images/member/ado_bg.png) 3px -27px no-repeat;*/}
.page-btn .next-btn a{padding-right:10px;/*background:url(../images/member/ado_bg.png) 59px -52px no-repeat;*/}
.ado-ear-detail{width:572px;padding-bottom:20px;background:#ffffff;}
.ado-ear-detail .ear-title{height:30px;line-height: 30px;font-size:20px;text-align:center;margin-top:18px;}

.ado-ear-detail,.ado-record-detail,.ado-profit-report,.ado-ready-content{display:none;}
.ear-record{padding:0 13px 0 28px;margin-bottom:20px;}
.ear-record li{height:36px;line-height:36px;border-bottom:1px dashed #999999;color:#999999;}
.ear-record li a,.ear-record li span{float:right;color:#999999;padding-right:40px;}
.ear-record li a:hover{color:#f70202;}

.ado-record-detail .ado-record{padding-top:10px;}
.ado-record-detail .ado-record span{position:absolute;right:0;top:2px;padding-right:14px;}
.ado-record-detail .ado-record li{position:relative;height:auto;padding:2px 0;}
.ado-record-detail .ado-record li p{height:34px;line-height: 34px;}
.ado-record-detail .ado-record li .title{font-size:20px;color:#666666;}

.ado-profit-report {border:1px solid #c9c9c9;width:540px;height:300px;padding:0 5px 10px;margin:48px auto 0;}
.ado-profit-report p{height:35px;line-height: 35px;color:#999999;border-bottom:1px dashed #e5e5e5;}
.ado-profit-report .no-border{border:none;}
.ado-profit-report .no-border span{color:#fc0511;}
/*.ado-ready-content{background:url(../images/member/tc_bg.png) no-repeat 57px 32px;}*/
.a-r-c-bg{/*background-image:url(../images/member/tc_bg.png);*/background-repeat: no-repeat;}
.ado-ready-content .progress-1{background-position: 57px 32px;}
.ado-ready-content .progress-2{background-position: 57px -268px;}
.ado-ready-content .progress-3{background-position: 57px -568px;}
.ado-ready-content .progress-4{background-position: 57px -868px;}
.ado-ready-content ul{width:490px;height:320px;float:right;margin-right:28px;}
.ado-ready-content ul li{height:82px;line-height: 82px;border-bottom:1px dashed #d1d1d1;font-size:20px;color:#666666;}
.ado-ready-content ul .no-border{border: none;}
.ado-ready-content ul .done{color:#56b051;}
.ado-ready-content ul li span{float:right;color:#666666;font-size:16px;}


/* pay-confirm */
.pay-confirm-w{background:#f4f5fa;overflow: hidden;}
.pay-confirm-c{width:1200px;margin:20px auto;background:#ffffff;height:508px;border:1px solid #eaeaea;padding:20px;}
.pay-confirm-c h3{height:30px;line-height:30px;background:#f4f5fa;padding-left:12px;font-size:16px;color:#666666;font-weight: 700;}
.pay-confirm-c .order-info{height:172px;}
.pay-confirm-c .order-c{height:142px;}
.order-img-w{width:142px;height:142px;margin:0 120px 0 55px;display:table-cell;vertical-align: middle;text-align: center;line-height: 142px;*font-size:115px;}
.order-img-w img{vertical-align: middle;}
.order-c-center{width:230px;height:142px;}
.order-img-w, .order-c-center{float:left;}
.conf-price{text-align:right;height:142px;line-height: 142px;font-size:18px;color:#555555;padding-right:20px;}
.conf-price span{font-size:40px;color:#74AA7C;}
.order-c-center p{height:24px;line-height:24px;}
.order-c-center .p1{margin-top:16px;color:#666666;font-size:14px;}
.order-c-center .p2{font-size:12px;color:#999999;}
.ado-counter input{  width:24px;  border:1px solid #d4d4d4;  float:left;  text-align: center;  background:#efefef;  height:22px;  }
.ado-counter .num{  background:#ffffff;  width:30px;  border-left:none;  border-right:none;  }
.ado-counter span{  float:left; }
.order-c-center .ado-counter{margin:8px 0; }
.ado-counter .forbid{  background:#ededed;  color:#cccccc;  }
.ado-counter .ado-num{margin-right:50px;}
.ado-counter .ado-dw{margin-left:14px;}
.order-c-center .quit-way{margin-right:66px;}
.ado-num,.ado-dw,.p4 a{font-size:14px;color:#999999;}
.discount-w{height:260px;}
.choose-dis-way{margin:18px 0 32px 0;}
.choose-dis-way span{height:30px;line-height:30px;margin-right:22px;color:#555555;padding-left:8px;font-size: 18px;}
#xuanze{ cursor:pointer;   background: #4bb14d;padding: 3px 8px;color: #ffffff;}
.choose-dis-way select{width:490px;height:30px;line-height:30px;border:1px solid #dddddd;color:#555555;}
.pay-confirm-btn-w{width:200px;height:76px;margin-top:52px;float:right;}
.pay-confirm-c .charge .ado-sum,.charge .account-sum{font-size:18px;display:inline-block;color:#555555;width:41%;}
.pay-confirm-c .charge a{display:inline-block;width:100px;height:34px;line-height:34px;background:#4bb14d;color:#ffffff;border-radius: 2px;text-align:center;margin-top:-22px;vertical-align: middle;}
.pay-confirm-c .charge span .money{font-size:40px;color:#74AA7C;}
.pay-confirm-btn-w{text-align: center;}
.pay-confirm-btn-w .agreement span,.pay-confirm-btn-w .agreement a{font-size:14px;color:#999999;}
.pay-confirm-btn{display:block;border-radius:2px;margin-top:18px;width:200px;height:40px;line-height:40px;color:#FFFFFF;background:#4bb14d;text-align:center;border:none; }
.pay-confirm-btn.un{background:#e3e3e3;border:none; }
.pay-confirm-btn:hover{color:#ffffff;}

/* help-center-l2 */
.help-center-l2{width:1030px;float:left;}
.rightlanmu{width:1030px;float:left;background:#ffffff;min-height: 307px;padding-left: 15px;}
.help-center-c,.help-hot-qa{background:#ffffff;border:1px solid #ebecee;padding:20px;margin-bottom:20px;}
.help-center-c{min-height:620px;}
.help-hot-qa{min-height:238px;margin-bottom: 0;}
.help-center-c h3{height:20px;font-size:20px;margin-bottom:26px;color:#232222;}
.help-center-c ul{padding-top:10px;border-top:1px dashed #dcdcdc;}
.help-center-c li,.help-hot-qa li{height:40px;line-height: 40px;font-size:13px;color:#666666;padding-left:11px;/*background:url("../images/member/help-center-li-bg.png") no-repeat left center;*/}
.help-center-c li a{color:#666666;}
.help-center-c li a:hover{color:#666666;}
.help-hot-qa h3{height:30px;line-height: 30px;color:#666666;font-size:23px;margin-bottom:10px;}
.help-hot-qa li{float:left;height:40px;line-height: 40px;width:378px;}
.help-hot-qa .odd{margin-right:210px;}
.help-hot-qa li a{font-size:13px;color:#666666;}
.help-center-bottom-w{width:1200px;background:#ffffff;border:1px solid #ebecee;margin:0 auto 20px;}
.help-center-bottom{text-align:center; height:238px;width:280px;margin:0 auto;padding-top:70px;}
.help-center-bottom p{}
.help-center-bottom .p1{height:42px;line-height: 42px;color:#6cce85;font-size:34px;}
.help-center-bottom .p2{height:32px;line-height:32px;font-size:17px;color:#999999;margin-bottom:8px;}
.help-center-bottom a{display:inline-block;width:118px;height:40px;margin-right:18px;line-height:40px;text-align:center;border:1px solid #c9c9c9;border-radius:8px;color:#0a0a0a;font-size:17px;}
.online-service{/*background:url(../images/member/help_center_bg.png) no-repeat 6px center;padding-left:20px;*/}

/* help-center-l3 */
.help-qa-c{background:#ffffff;padding:20px;border:1px solid #ebecee;margin-bottom:20px;}
.help-qa-c h3{margin-bottom:10px;font-size:18px;color:#232222;}
.help-qa-c p{line-height: 24px;font-size:13px;color:#666666;}

/* start-crowd-funding takepart-crowd-funding */
.crowd-fund-c{width:1030px;min-height:635px;float:left;background:#FFF;border:1px solid #e3e3e3;padding:20px;}
.crowd-f-nav-w a,.crowd-f-nav2-w a{display:inline-block;border:1px solid #dfdfdf;border-radius:4px;background:#f6f6f6;color:#666;margin-right:50px;}
.crowd-f-nav-w a{width:126px;text-align:center;height:36px;line-height:34px;font-size:16px;}
.crowd-f-nav-w .active,.crowd-f-nav2-w .active{background:#79b682;color:#FFF;}
.crowd-f-nav2-w{margin:20px 0;}
.crowd-f-nav2-w a{width:80px;height:30px;line-height:28px;text-align:center;}
.crowd-fund-c thead tr{background:#f4f5fa;height:30px;}
.crowd-fund-c table{width:100%;}
.crowd-fund-c td,.crowd-fund-c th{text-align: center;}
.crowd-fund-c th{color:#999;font-weight:normal;}

/* welfre-rate */
.welfare-c-w{padding-top:0;}
.welfare-c{width:1030px;min-height:635px;float:left;background:#FFF;border:1px solid #e3e3e3;padding:20px;}
.option-w-welfare-use{margin-top: 20px;}
.welfare-nav-w a,.welfare-c a{ font-size:16px;border-radius:3px; line-height:18px;  color:#666;margin-right:50px;padding: 2px 11px;}
.welfare-nav-w a{width:84px;text-align:center;height:34px;line-height:32px;font-size:16px;}
.welfare-nav-w .active,.welfare-nav2-w .active{background:#79b682;color:#FFF;}
.welfare-nav2-w{margin:20px 0;}
.welfare-nav2-w a{width:80px;height:30px;line-height:28px;text-align:center;}
.welfare-c .wel-exp th{width:12.5%;}
.welfare-c .wel-gift-tb th{width:20%;}
.welfare-c .wel-rat-tb th{width:12.5%;}
.welfare-c thead tr{background:#f4f5fa;height:54px;}
.welfare-c tbody tr{background:#fff;height:60px;}
.welfare-c table{width:100%;}
.welfare-c td,.welfare-c th{text-align: center;}
.welfare-c td,.welfare-c th{font-size:16px;color:#666;font-weight:normal;}
.welfare-c .wel-use-btn{display:inline-block;width:100px;height:38px;line-height:38px;background:#7ab682;color:#FFF;margin:0 auto;text-align:center;border:none;}

/* member-info */
.mem-info-c{width:1030px;float:left;background:#FFF;border:1px solid #e3e3e3;padding:20px;}
.mem-basic-info{margin-bottom:44px;height:350px;}
.mem-basic-info1{margin-bottom:44px;    height: 417px;}
.mem-basic-info,.mem-add-info{border:1px solid #f5f5f5;background:#fbfcfd;}
.mem-bas-title{height:85px;background:#f4f5fa;}
.mem-bas-title p{font-size:20px;height:20px;color:#999;padding:30px 0 0 20px;}
.mem-bas-l2{height:52px;border-bottom: 1px dashed #DDD;}
.mem-bas-l2 p{padding:20px 0 0 70px;font-size:16px;color:#999;}
.mem-bas-c{height:210px;}
.mem-bas-c .left,.mem-bas-c .center,.mem-bas-c .right{float:left;height:100px;}
.mem-bas-c .left{width:230px;text-align: center;}
.mem-bas-c .left img{display:block;width:140px;margin:20px auto 16px;height:140px;border-radius: 70px;}
.mem-bas-c .left span{cursor:pointer;font-size:16px;color:#666;}
.mem-bas-c .center{width:490px;padding-top:35px;}
.mem-bas-c .center p{padding-left:95px;padding-right:158px;font-size:16px;color:#666666;height:36px;line-height: 36px;}
.mem-bas-c .center p span{float:right;display:inline-block;min-width:50px;text-align:left;color: #999999;}
.mem-bas-c .right{padding-top:35px;}
.mem-bas-c .right span{cursor:pointer;font-size:16px;color:#666;}

.mem-add-t-head{height:56px;line-height:56px;width:100%;padding:0 50px 0 33px;border-bottom:1px dashed #DDD;}
.mem-add-t-head li{font-size:20px;}
.mem-add-info li{float:left;text-align:center;color:#666;}
.mem-add-t-body{height:90px;line-height: 34px;padding:12px 50px 0 33px;}
.mem-add-t-body li{height:78px;}
.mem-add-info .mem-row1{width:220px;}
.mem-add-info .mem-row2{width:162px;padding:0 40px;}
.mem-add-info .mem-row3{width:176px;padding:0 34px}
.mem-add-info .mem-row4{width:116px;}
.mem-add-info .mem-row5{width:200px;}
.mem-add-info .mem-row6{width:100px;}
.mem-add-info .mem-row2,.mem-add-info .mem-row3{text-align: left; overflow:auto; }
.mem-row6 span{cursor:pointer;}
.mem-add-t-body .mem-row6{color:#79b682;}
.mem-info-c #add-btn{display: inline-block;width:140px;height:34px;margin:20px 0 0 44px; line-height: 34px;text-align: center;background:#f2faeb;border:1px solid #bfd6af;border-radius: 6px;cursor:pointer;font-size:18px;color:#666;}
.erweimaweixin{display:none;width:330px;height:152px;   position: relative;top: -192px;right:137px;}
.damiao{margin-left: 20px;}
.erweimaweixin img{width:150px;display:inline-block;}
#ch-nick-name-tc{display:none;width:850px;height:268px;background:#fbfcfe;border:1px solid #e3e3e3;}
#ch-nick-name-tc .left{width:232px;overflow: hidden;text-align: center;float:left;}
#ch-nick-name-tc .left p{text-align:center;font-size:16px;color:#999;margin:18px 0;}
#ch-nick-name-tc .left img{display:block;width:140px;margin:0 auto 16px;height:140px;border-radius: 70px;}
#ch-nick-name-tc .left span{cursor:pointer;font-size:16px;color:#666;}
#ch-nick-name-tc .right{float:left;padding:60px 0 0 26px;color:#999;font-size: 16px;}
#ch-nick-name-tc .right p{height:36px;line-height: 36px;}
#ch-nick-name-tc .right .r-n{width:124px;display:inline-block;}
#ch-nick-name-tc .right .r-v{width:120px;text-align:center;display:inline-block;}
#ch-nick-name-tc .right input{width:120px;height:25px;border:1px solid #666668;text-align:center;}
#ch-nick-name-tc .right div{margin-bottom:6px;}
#ch-nick-name-tc .avali-ico{width:185px;display:inline-block;padding-left:50px;font-size: 16px;font-weight: bold;background-repeat: no-repeat;/*background-image: url(../images/member/ch_nick_name_bg.png);*/}
#ch-nick-name-tc .ava{color:#79b682;background-position: 26px 0;}
#ch-nick-name-tc .un-ava{color:#e22214;background-position: 26px -30px;}
#ch-nick-name-tc #save-btn{display:inline-block;width:130px;height:30px;line-height:30px;text-align: center;background:#6ec783;color:#FFF;border-radius: 8px;cursor:pointer;}

#ch-head-pic-tc{display:none;width:627px;height:268px;background:#fbfcfe;border:1px solid #e2e4e3;}
#ch-head-pic-tc .left{width:540px;height:100px;float:left;}
#ch-head-pic-tc .right{width:308px;float:left;height:100px;}
#ch-head-pic-tc .input-w{position:relative;width:142px;height:40px;margin:11px 0 40px 30px;}
#ch-head-pic-tc .input-w input{width:142px;height:40px;}
#ch-head-pic-tc .input-w img,#ch-head-pic-tc .input-w input{position:absolute;top:0;left:0;cursor:pointer;}
#ch-head-pic-tc .input-w input{opacity: 0;filter:alpha(opacity=0);}
#ch-head-pic-tc .left p{height:35px;line-height:35px;padding-left:75px;font-size:20px;color:#999;}
#ch-head-pic-tc .left .p2{font-size:16px;padding-left:80px;}
/*.input-w-upload-btn{position:absolute;}*/
#ch-head-pic-tc .right{text-align: center;position:relative;}
#ch-head-pic-tc .right p{position:absolute;top:22px;color:#191818;font-size:16px;text-align:left;}
#ch-head-pic-tc .right img{display:block;width:140px;margin:22px auto;height:140px;border-radius: 70px;}
#ch-head-pic-tc .right span{display:block;margin:0 auto;cursor:pointer;font-size:16px;color:#666;}
#ch-head-pic-tc .right .head-pic-save-btn{width:136px;height:30px;margin-top:15px;line-height:30px;background:#6ec783;color:#FFF;border-radius:8px;}
.cardtu{
	width:50px;
	vertical-align: top;
}
.yinhang{
	vertical-align: top;
	font-size: 20px
}
.shortcut{
	float:right;
	margin-right:7px;
	vertical-align: top;
}
.kahao{
	text-align:right;
}
.tixing{text-align: center;font-size: 15px;color: #9D9D9D;}
.card{width:90%;border-radius:5px;margin:10px auto;background: #000080;color: #ffffff; padding: 5px;}
.pay_tc_w{  width:912px;  height:397px;  padding-left:30px;  color:#999999;  background:#ffffff;  font-size:15px;  }
.pay_tc_w .require{  color:#f81622;  }
.pay_tc_w input{  margin-bottom: 16px;  height:24px;  }
.pay_tc_w .uname{  width:320px;  }
.pay_tc_w p{  height:25px;  line-height: 25px;  }
.pay_tc_w .ulocation{  height:24px;  font-size: 12px;  color:#0A0A0A;  margin-right:50px;  margin-bottom: 16px;  }
.pay_tc_w .udetail_loca{  width:412px;  }
.pay_tc_w .utell{  width:246px;  }
.tel_w .tel_mobi,.tel_w .or,.tel_w .tel_phone{  float: left;  }
.tel_w .or{  margin:24px 40px 0;  }
.pay_tc_w{  display:none;  padding-top:16px;  }
.pay_tc_w .save_add{  display: block;  width:132px;  height:32px;  line-height: 32px;  background:#f5f5f5;  cursor:pointer;  text-align: center;  border-radius: 2px;  color:#000000;  border:1px solid #dddddd;  }
.pay_tc_w .upost,.pay_tc_w .udetail_loca{  width:246px;  }
.loca_other_name{  overflow: hidden;  }
.loca_other_name .o_span {  margin-top:20px; float: right  }
.pay_tc_w .loca_other_name .advice{  margin:0 23px 0 128px;  border:none;  }
.loca_other_name .advices{  margin-right: 11px;  display: inline-block;  width:80px;  height:32px;  line-height: 32px;  border:1px solid #eeeeee;  box-sizing: content-box;  text-align: center;  border-radius: 4px;  }

.m-chk-w{position:relative;display:inline-block;width:22px;height:22px;overflow: hidden;vertical-align: middle;}
.m-chk-w input{position:absolute;width:22px;height:22px;margin-top:0;opacity:0;filter:alpha(opacity=0);}
.m-chk-w label{display:inline-block;width:22px;height:22px;/*background-image:url(../image/member/check_bg.png);*/margin:0;background-repeat: no-repeat;}
.m-chk-w .chked{background-position:0 -31px;}
.m-chk-w span{vertical-align: middle;}

/* pay-address-edit */

.default_addr{  height:100px;  background-color:#f4f5fa;  /*  background-image: url(../image/pay_bg.png); */ background-repeat: no-repeat;  background-position:35px -120px ;  margin:14px 0 30px;  overflow: hidden;  position: relative;  }
.default_addr p{  height:25px;  line-height: 25px;  font-size: 16px;  color: #999999;  padding-left:82px;  }
.default_addr .uname{  margin-top:23px;  }
.default_addr span{  position: absolute;  right:18px;  bottom:32px;  color: #74AA7C;  cursor: pointer;  }
.edit_tc_w{  width: 970px;  height:300px;  display:none;  }
.edit_tc_w table{  width:900px;  border:1px solid #e6e6e6;  margin:48px auto;  }
.edit_tc_w thead tr{  background:#dddddd;  font-size: 16px;  }
.edit_tc_w tbody tr{  font-size: 14px;  }
.edit_tc_w th{  height:46px;  }
.edit_tc_w td{  height:80px;  color:#000000;  }
.edit_tc_w tr{  border-bottom:1px solid #e6e6e6;  }
.edit_tc_w .t1{  padding-left:30px;  }
.edit_tc_w .t2,.edit_tc_w .t3{  padding-right:20px;  text-indent: 0;  }
.edit_tc_w span{  cursor:pointer;  color:#79B682;  }
.edit_tc_w .option{  color:#79B682;  }
.edit_tc_w .choose_btn{  display:inline-block;  width:68px;  height:20px;  line-height: 20px;  text-align:center;  background:#7ab682;  color:#ffffff;  border-radius:4px;  }

/* member-system */
.mem-sys-w{width:1020px;float:left;background:red;}
.mem-sys-w{background:#FFF;overflow: hidden;position:relative;}
.mem-sys-w .top-img-w a{position:absolute;top:142px;left:440px;display:block;width:142px;height:40px;margin:0 auto;}
.mem-sys-c{padding:20px;background:#FFF;}
.invt-lvel-rewd-t{border:1px solid #ecedf0;}
.invt-lvel-rewd-t,.invt-lvel-pele-t{background:#f3f5fa;height:85px;padding:26px 0 0 20px;font-size:20px;color:#999;}
.invt-lvel-rewd-t span,.invt-lvel-rewd-c span,.invt-lvel-pele-t span{font-size:24px;color:#79b682;}
.invt-lvel-rewd-c{height:56px;padding:14px 0 0 20px;}
.invt-lvel-rewd-c p{font-size:20px;color:#999;}
.invt-lvel-rewd{margin-bottom:50px;}
.invt-lvel-pele{border:1px solid #f5f5f5;padding-bottom:10px;background:#f9fcff;margin-bottom:40px;}
.invt-lvel-pele table{width:100%;background:#f9fcff;font-size:16px;color:#999;font-weight: normal;padding-bottom:10px;}
.invt-lvel-pele tr{height:36px;}
.invt-lvel-pele thead tr{height:50px;}
.invt-lvel-pele tbody .hid{display: none;}
.invt-lvel-pele th{font-weight: normal;}
.invt-lvel-pele td,.invt-lvel-pele td a{color:#999;}
.invt-lvel-pele td,.invt-lvel-pele th{text-align:center;width:25%;}
.invt-lvel-pele .tr-u{border-top:1px dashed #DDD;}
.tr-u .arr-ico{display:inline-block;width:9px;height:12px;/*background:url(../images/member/mem_sys_arr_ico1.png);*/-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.invt-lvel-pele .shown .arr-ico{-webkit-transform: rotate(90deg);  -ms-transform: rotate(90deg);  -o-transform: rotate(90deg);  transform: rotate(90deg);}

.mem-sys-shre-w{border:1px solid #DDD;padding:20px;height:192px;}
.share-href-p{height:40px;line-height: 40px;font-size: 14px;color:#000000;}
.mem-sys-shre-w .share-href-w{height:50px;position:relative;}
.share-href-w .bdsharebuttonbox{position:absolute;right:56px;top:-6px;z-index:1;}
.share-href-w .bdsharebuttonbox a{display:block;width:146px;height:58px;background:none;}
.mem-sys-shre-w .share-href-w input{height:50px;line-height:50px;width:472px;border:1px solid #e6e6e6;padding-left:12px;color:#666666;}
.share-href-w span{display: inline-block;width:146px;height:50px;border-radius: 4px;background-color: #ff5757;line-height: 50px;color:#ffffff;text-align:center;font-size:16px;cursor:pointer;}
.share-href-w .send-to-mobi{/*background-image:url(../images/market/invent_share_ico.png);*/user-select:none;background-repeat:no-repeat;background-position:18px 13px;padding-left:36px;}
.mem-sys-shre-w  .share-copy{margin:0 92px 0 68px;}
.mem-sys-shre-w .share-href-w .bdsharebuttonbox{right:6px;}

.share-href-w .input:disabled{background:#ffffff;}
.invent-code{height:70px;line-height:70px;}
.invent-code span{display: inline-block;}
.invent-code .share-area{width:288px;float:left;}
.bshare-custom {display:inline-block;}
.share-area .share-text{}
.share-area .bdsharebuttonbox,.share-area .share-text,.share-area .share-text2{float:left;}
.share-area .bdshare-button-style0-32{margin-left:14px;}
.share-area .bdshare-button-style0-32 a{margin: 18px 14px 0 0;}
#bdshare_weixin_qrcode_dialog{height:330px !important;}


/* point-mall */
.pt-mal-list-w{background:#f3f5fa;padding-top:20px;overflow: hidden;}
.pt-mal-list{width:1200px;margin:0 auto;}
.pt-mal-c-w{padding:20px 20px;background:#FFF;}
.pt-mal-sort-w{margin-bottom:40px;}
.pt-mal-sort-w span{margin-right:16px;}
.pt-mal-sort-w a{margin-left:25px;}
.pt-mal-sort-w span,.pt-mal-sort-w a{display:inline-block;height:30px;line-height:30px;font-size:15px;color:#666;}
.pt-mal-sort-w a{width:100px;text-align:center;border:1px solid #666;border-radius:4px;line-height:28px;}
.pt-mal-sort-w .active,.pt-mal-sort-w a:hover{color:#FFF;background:#79b682;border-color:#79b682}
.pt-mal-sort{margin-left:90px;}
.pt-mal-lis li{width:276px;height:240px;float:left;margin:10px 7px;background:#f3f5fa;}
.pt-mal-lis .img-w{width:276px;height:164px;line-height:164px;display:table-cell;margin:0 auto;vertical-align: middle;text-align: center;}
.pt-mal-lis .img-w img{vertical-align: middle;max-width: 164px;max-height: 164px;}
.pt-mal-lis .p-name{font-size:14px;color:#666;height:46px;line-height:46px;text-align:center;}
.pt-mal-lis .p-name a,.pt-mal-lis .p-name a:hover{color:#666;}
.pt-mal-lis .price-w{height:22px;line-height: 22px;text-align:center;font-size:12px;color:#999;}
.pt-mal-lis .price,.pt-mal-lis .pont-val{color:#e7320b;}
.pt-mal-lis .price{padding-right:18px;}
.pt-mal-lis .point{padding-left:18px;border-left:1px solid #FFF;}
.m-pagnan .ftpg,.m-pagnan .ltpg{width:44px;}
.m-pagnan li{float:left;margin-left:2px;margin-right:3px;}
.m-pagnan{margin:20px 0;}
.m-pagnan ul{width:530px;margin:0 auto;}
.m-pagnan li a{display:inline-block;width:30px;height:30px;line-height:30px;border-radius:2px;border-bottom:1px solid #dedede;font-size:16px;color:#666;background:#ebecee;text-align:center;}
.m-pagnan li a:hover,.m-pagnan li .active{color:#FFF;background:#79b682;}

/* point-mall-detail */
.ptmal-dtal-w{background:#f3f5fa;padding:20px 0;}
.ptmal-dtal{width:1200px;margin:0 auto;}
.ptmal-dtal-head{border:1px solid #e3e3e3;background:#FFF;color:#66686b;}
.ptmal-dtal-head{height:400px;padding:20px;}
.ptmal-dtal-head-img-w,.ptmal-dtal-des{float:left;}
.ptmal-dtal-head-img-w{width:376px;height:360px;line-height:360px;display:table-cell;text-align:center;vertical-align:middle;background:#f3f5fa;}
.ptmal-dtal-head-img-w img{vertical-align: middle;max-width:376px;max-height: 360px;}
.ptmal-dtal-des{padding-left:96px;width:630px;}

.ptml-counter input{  width:24px;  border:1px solid #d4d4d4;  float:left;  text-align: center;  background:#efefef;  height:22px;  }
.ptml-counter .num{  background:#ffffff;  width:30px;  border-left:none;  border-right:none;  }
.ptml-counter span{  float:left; }
.ptml-counter .forbid{  background:#ededed;  color:#cccccc;  }
.ptmal-dtal-des input{display: block;}

.ptmal-dtal-des h1{font-size:24px;font-weight: 700;height:24px;line-height: 24px;}
.ptmal-dtal-des .tte2{height:56px;line-height:56px;font-size:16px;}
.ptmal-dtal-des .esue-w{height:55px;line-height:30px;border-bottom:1px dashed #e3e3e3;}
.ptmal-dtal-des .price{height:66px;line-height: 66px;font-size:16px;}
.ptmal-dtal-des .price-val{font-size:24px;color:#7ab682;}
.ptml-counter{margin:30px 0 40px;}
.ptml-counter .quty{font-size:16px;}
.ptmal-dtal-des .buy-btn{width:200px;height:40px;font-size:20px;background:#7ab682;color:#FFF;border:none;border-radius: 8px;}

.ptmal-dtal-body{margin-top:20px;}
.ptmal-dtal-body-left,.ptmal-dtal-body-right{background:#FFF;padding:20px;border:1px solid #e3e3e3;}
.ptmal-dtal-body-left{width:840px;float:left;}
.ptmal-dtal-body-right{width:340px;float:right;}
.ptmal-tab-btn-w{height:36px;line-height:36px;padding-left:10px;}
.ptmal-tab-btns{height:36px;border-bottom:1px solid #e3e3e3;}
.ptmal-tab-btns span{display:inline-block;font-size:20px;padding:0 5px;margin-right:50px;cursor:pointer;}
.ptmal-tab-btns .active{color:#7ab682;border-bottom:1px solid #7ab682;height:36px;}
.ptmal-tab-btns .quty{color:#F00;padding:0;border:none;margin:0;}

.ptmal-pro-des{padding-top:50px;}
.ptmal-pro-des-tite{position:relative;height:60px;background:#f3f5fa;border-radius:8px;padding-left:8px;}
.ptmal-pro-des-tite span{display:inline-block;padding:0 6px;font-size:20px;color:#7ab682;height:60px;line-height:60px;border-bottom:2px solid #7ab682;}
.ptmal-pro-des-tite .r-line{position:absolute;top:14px;left:122px;border-right:1px solid #d0d1d4;height:34px;line-height: 34px;}
.ptmal-pro-des .text-des{line-height:30px;font-size:20px;color:#666;margin:12px 0;}
.ptmal-pro-des .img-w{text-align: center;}
.ptmal-rcmd-ttle{height:36px;border-bottom:1px solid #e3e3e3;position:relative;}
.ptmal-rcmd-ttle .rcmd{font-size:20px;color:#666;}
.ptmal-rcmd-ttle .rlod{position:absolute;right:0;top:0;display:block;padding-left:28px;width:72px;height:36px;line-height:36px;cursor:pointer;font-size:14px;color:#000;/*background:url(../images/member/pt_mall_ico_bg.png)   no-repeat left 6px;*/}
.ptmal-dtal-body-right{padding-bottom:0;}
.ptmal-dtal-body-right li{height:90px;margin-bottom:10px;background-repeat: no-repeat;}
.ptmal-dtal-body-right li p{height:30px;line-height:30px;color:#999;font-size:16px;margin-top:7px;}
.ptmal-dtal-body-right li a{display: block;width:298px;height:90px;padding:13px 0 0 98px;}
.ptmal-dtal-body-right li span{display: inline-block;height:28px;line-height: 28px;padding-left:35px;margin-right:16px;font-size:14px;color:#7ab682;}
.ptmal-dtal-body-right li .pt-1,.ptmal-dtal-body-right li .pt-2{/*background:url(../images/member/pt_mall_ico_bg.png) no-repeat;*/}
.ptmal-dtal-body-right li .pt-1{background-position: 0 -31px;}
.ptmal-dtal-body-right li .pt-2{background-position: 0 -60px;}
.ptmal-dtal-body-right .poit-w{width:100%;}
.ptmal-dtal-body-right .dsct-20{/*background-image:url(../images/member/discount_bg.png);*/background-position: 13px 13px; }

.ptmal-pro-record table{width:100%;margin-top:13px;}
.ptmal-pro-record th{width:33.3333%}
.ptmal-pro-record td,.ptmal-pro-record th{text-align: center;font-size:14px;color:#999;font-weight: normal;}
.ptmal-pro-record thead tr{height:56px;}
.ptmal-pro-record tbody tr{height:60px;}
.ptmal-pro-record .odd{background:#f3f5fa;}
.ptmal-pro-record .quty{font-size:16px;color:#7ab682;font-weight: 700;}
.ptmal-pro-record .vip-levl{display:inline-block;width:19px;height:16px;/*background:url(../images/member/vip_levl_ico.png);*/margin-bottom:-4px;}
.ptmal-pro-record .u-name{margin-left:9px;}
.ptmal-dtal-body .hid{display: none;}


/* gift-profit */
.gift-prft-r{float:right;width:1020px;}
.gift-prft-c{background:#FFF;padding:20px;border:1px solid #ebecee;margin-bottom:20px;color:#666;}
.gift-prft-c h3{font-size:22px;}
.gift-prft-c .tite-2{font-size:16px;height:38px;line-height:38px;margin-bottom:12px;}
.gift-prft-c .img-w,.gift-prft-c .des-w{float:left;}
.gift-prft-c .img-w{width:436px;height:294px;padding:9px 10px;border:1px solid #e7e6e6;-webkit-box-shadow:0 0 8px rgba(200, 200, 200, .5);  -moz-box-shadow:0 0 8px rgba(200, 200, 200, .5);  box-shadow:0 0 8px rgba(200, 200, 200, .5);  }
.gift-prft-c .img-w img{width:415px;height:275px;}
.gift-prft-c .des-w{padding-left:66px;}
.gift-prft-c .des-w p{height:30px;line-height: 30px;margin-bottom:18px;font-size:18px;}
.gift-prft-c .get-w-rado{margin:0 10px 0 2px;}
.gift-prft-c .ipt{margin-right:27px;}
.gift-prft-c .tab-c{width:474px;height:143px;}
.gift-prft-c .hid{display: none;}
.gift-prft-c .dlv{position:relative;/*background:url(../images/member/gift_profit.png) no-repeat 0 -20px;*/overflow: hidden;}
.gift-prft-c .dlv .arr{position:absolute;top:38px;right:17px;display: block;width:9px;height:16px;/*background:url(../images/member/gift_profit.png) no-repeat;*/}

.gift-prft-c .dlv p{line-height: 30px;font-size:16px;padding-left:38px;margin-bottom:0;}
.gift-prft-c .dlv .p-1{margin-top:18px;}
.ad-adrs-btn{position: absolute;bottom:0;left:150px; display:block;width:112px;height:30px;line-height: 28px;background:#f2faeb;text-align: center;color:#666;font-size: 18px;border:1px solid #d7e7cb;border-radius: 8px;}
.ad-adrs-btn:hover,.ad-adrs-btn:visited{color:#666;}

.gift-prft-c .map-tite{font-size:16px;color:#ec6300;height:45px;line-height: 45px;margin-top:27px;font-weight: 700;}
.gift-prft-c .map-w,.gift-prft-c .adrs-info{float:left;}
.gift-prft-c .map-w{width:666px;height:542px;}
.gift-prft-c .map-w img{width:666px;height:542px;}
.gift-prft-c .adrs-info{padding-left:42px;font-size:18px;height:18px;}
.gift-prft-c .adrs-info .in-tite{font-size:20px;line-height: 20px;}
.gift-prft-c .adrs-info p{margin-bottom:32px;}

.gift-prft-inform p{margin-top:30px;font-size:18px;color:#666;}
.gift-prft-inform h3{margin-bottom:20px;}
.prft-img-w{text-align:center;padding-top:40px;}

.gift-prft-c .chk-code-arr{display: inline-block;width:7px;height:13px;/*background:url(../images/member/chk_code_arr.png);*/margin-left:6px;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.gift-prft-c .show-ckcode-btn{cursor: pointer;font-size:16px;color:#999;}
.gift-prft-c .chck-code{font-size:18px;}
.gift-prft-c .chck-code-w{height:28px;line-height: 28px;margin-bottom:24px;}
.gift-prft-c .chck-c-n{display:inline-block;border:1px solid #89bf91;color:#89bf91;padding-left:14px;border-radius:8px;width:130px;height:28px;}
.gift-prft-c .shown .chk-code-arr{-webkit-transform: rotate(90deg);  -ms-transform: rotate(90deg);  -o-transform: rotate(90deg);  transform: rotate(90deg);}
.gift-prft-detl{margin-bottom:0;}


/* member-club */

.swiper-container {height: 300px/*width: 640px;*/}
.pagination {position: absolute;left: 0;text-align: center;bottom:5px;width: 100%;}
.swiper-pagination-bullet-active {opacity: 1;background: #aaa;}
.banner-box{height: 300px;position: relative;z-index: 1;zoom: 1;}
.banner-box-img a{width: 1920px;height: 300px;position: absolute;top: 0;left: 50%;margin-left: -960px;}
.banner-right{width: 1200px;height: 300px;margin: -300px auto 0;position: relative;}
.banner-right-content{/*background: url("../images/member/mem_club_ban_bg.png") no-repeat;*/width: 420px;height: 260px;position: absolute;top: 28px;right: 40px;z-index: 2;color: #fff;text-align: center;}
.banner-right-content p{font-size: 16px;}
.banner-right-content p>span{color: #fae53b;font-size: 28px;vertical-align: sub;}
.banner-right-content h2{font-size: 22px;}
.banner-right-content-login{padding: 8px 15px;border-radius: 5px;-webkit-border-radius: 5px;background: #79b682;display: block;width: 100px;margin: 30px auto 0;color: #fff;}
.banner-right-content-login:focus,.banner-right-content-login:hover{color: #fff;}
.mem-club-tx-w{text-align: center;position: relative;height:76px;}
.mem-club-tx-w .tx-img{position:absolute;left:174px;width:76px;height:76px;border:1px solid #FFF;border-radius: 38px;}
.banner-right-content{padding-top:24px;}
.mem-club-line{position:absolute;top:40px;width:420px;border-top:1px solid #99e1aa;}
.mem-club-tx-lv-img{position:absolute;top:15px;left:148px;}
.mem-club-mobi-mun{height:58px;line-height: 48px;/*background:url(../images/member/mem_club_lv_ico.png) no-repeat 262px 17px;*/}
.mem-club-poit-w .l,.mem-club-poit-w .r{float:left;height:46px;font-size:16px;}
.mem-club-poit-w .l p{padding-left:126px;text-align: left;}
.mem-club-poit-w .l{width:210px;}
.mem-club-poit-w .r{border-left:1px solid #FFF;}
.mem-club-poit-w .r p{padding-left:20px;text-align: left;}
.mem-club-poit-w{margin-bottom: 16px;}
.mem-club-ban-w .poit-ins{color:#FFF;}

.mem-club-w{background:#f3f5fa;}
.mem-club-c{width:1200px;margin:0 auto;background:#f3f5fa;overflow: hidden;padding-top:20px;}
.mem-club-myright-w{height:278px;margin-bottom:20px;}
.mem-clubs{margin-bottom:20px;background:#FFF;border:1px solid #e3e3e3;padding:20px;}
.mem-club-pm{height:582px;}
.mem-club-awad{height:550px;}

.mem-club-myright-l,.mem-club-myright-r{height:278px;padding:20px;border:1px solid #e3e3e3;background:#FFF;}
.mem-club-myright-l{width:882px;float:left;position: relative;}
.mem-club-myright-r{width:300px;float:right;}
.mem-club-myright-l .tite{position:absolute;top:100px;left:40px;width:50px;font-size:24px;color:#666;}
.mem-club-right-swip{position:relative;width:736px;height:238px;float:right;border:1px solid #e3e3e3;}
.mcm-swip-ctnr{width:666px;height:236px;margin-left:35px;overflow:hidden;}
.mcm-swip-ctnr .swiper-wrapper{width:1998px;}
.mcm-swip-ctnr .swiper-slide{width:666px;height:236px;float:left;}
.mem-club-right-swip .arr{position:absolute;top:142px;display: inline-block;width:15px;height:19px;cursor:pointer;/*background:url(../images/member/mem_club_arr_bg.png);*/}
.mem-club-right-swip .arrow-left{left:19px;}
.mem-club-right-swip .arrow-right{right:18px;background-position: 0 -19px;}
.mem-club-right-swip .sw-c{float:left;width:188px;height:236px;}
.mem-club-right-swip .swiper-slide .sw-c-cter{margin:0 50px;}
.mem-club-right-swip .sw-c img{display:block;width:114px;height:114px;margin:20px auto 5px;}
.mem-club-right-swip .sw-c p{color:#666;}
.mem-club-right-swip .sw-c .l1{font-size:20px;height:36px;line-height: 36px;text-align: center;}
.mem-club-right-swip .sw-c .l2{width:142px;margin:0 auto;padding-left:12px;height:24px;line-height: 24px;font-size:14px; }

.mem-club-myright-r .tite{font-size:24px;color:#666;padding-left:18px;}
.mem-club-myright_qbtn{display:block;width:154px;height:40px;margin:44px auto 30px;line-height:40px;background:#6cce85;text-align:center;border-radius:2px;color:#FFF;font-size:20px;cursor: pointer;}
.mem-club-myright-r .alrdysn{background:#f3f5fa;color:#eee;}
.mem-club-myright-r .qd-ins{padding-left:52px;height:34px;line-height: 34px;font-size:17px;color:#666;}
.mem-club-myright-r .qd-ins span{font-size:22px;color:#ff0000;vertical-align: baseline;}
.mem-clubs .tite{width:500px;font-size:24px;color:#666;position:relative;}
.mem-clubs .tite span{position: absolute;right:0;font-size:16px;color:#999;top:10px;}
.mem-clubs .tite span a{color:#999;}
.mem-clubs .pt-mal-lis li{width:275px;}
.mem-club-awad-c{width:1160px;height:450px;margin-top:28px;}
.mem-club-awad-c .l{width:654px;height:450px;position:relative;margin-left:20px;float:left;/*background:url(../images/member/club_awads.png)*/}
.mem-club-awad-c .l span{display: block;}
.mem-club-awad-c .l div,.mem-club-awad-c .l span{width:198px;height:128px;position:absolute;border-radius: 10px;}
.mem-club-awad-c .l .on{border:6px solid #ff5a62;}
.mem-club-awad-c .l span{top:161px;left:228px;cursor:pointer;}
.mem-club-awad-c .l .b0{top:20px;left:20px;}
.mem-club-awad-c .l .b1{top:20px;left:228px;}
.mem-club-awad-c .l .b2{top:20px;left:438px;}
.mem-club-awad-c .l .b3{top:161px;left:438px;}
.mem-club-awad-c .l .b4{top:302px;left:438px;}
.mem-club-awad-c .l .b5{top:302px;left:228px;}
.mem-club-awad-c .l .b6{top:302px;left:20px;}
.mem-club-awad-c .l .b7{top:161px;left:20px;}
.mem-club-awad-c .l .go p{text-align: center;margin-top:74px;font-size:25px;}
.mem-club-awad-c .l .go p i{font-style: normal;}

.mem-club-awad-c .r{width:430px;height:450px;float: right;}
.mem-club-awad-c .r .tite{width:430px;padding-left:7px;font-size:18px;color:#666;height:56px;line-height: 56px;border:1px solid #e3e3e3;}
.mem-club-awad-recd{width:430px;height:390px;border:1px solid #e3e3e3;margin-top:3px;}
.mem-club-awad-recd .tite{height:40px;line-height: 40px;padding-left:12px;background:#e3e3e3;}
.mem-club-awad-recd ul{padding-top:10px;}
.mem-club-awad-recd li{height:40px;line-height: 40px;}
.mem-club-awad-recd .con-text{font-size:18px;color:#666;}
.mem-club-awad-recd .con-text .red{color: #e94d21;}
.mem-club-awad-recd li img{margin:-4px 8px 0 5px;}
.mem-club-awad-recd li .time{float:right;padding-right:7px;font-size:18px;color:#999;}

.poit-ins-pop{width:570px;height:494px;padding:16px 16px 16px 28px;color:#666;}
.poit-ins-pop li,.poit-ins-pop li span{height:36px;line-height: 36px;}
.poit-ins-pop li{border-bottom:1px dashed #eee;}
.poit-ins-pop h4{font-size:20px;text-align: center;height:30px;line-height: 30px;}
.poit-ins-pop li span{display:inline-block;float:right;width:100px;}
.poit-ins-pop .no-border{border:none;}

/* cash-detail */
.water-cash-c h3{font-size:20px;color:#666;margin-bottom:34px;}
.water-cash-c a{height:24px;line-height: 22px;}
.water-cash-c .welfare-nav2-w a{margin-right:42px;}
.water-cash-c th{width:20%;}
.water-cash-c .welfare-nav2-w{margin-bottom:30px;}
.water-cash-c .welfare-nav-w a, .welfare-c-w .water-cash-c a{border:none;background:none;color: #666666;font-size:18px;}
.water-cash-c .welfare-nav-w .active, .welfare-c-w .water-cash-c .active{background:#79b682;color:#FFF;}
.water-cash-c .welfare-nav-w span,.water-cash-c .welfare-nav2-w span{font-size:18px;margin-right:4px;}
.water-cash-c .welfare-nav2-w a{padding:0 14px;width:auto;}
.water-cash-c .welfare-nav-w a{width:75px;}
#datepicker-container{position:relative;}
#datepicker{width:402px;right:78px;top:0;height:24px;line-height: 24px;float: right;}
#datepicker1{width:402px;right:78px;top:0;height:24px;line-height: 24px;display: inline-block;vertical-align:middle;}
#datepicker-container .input-group-addon{border:none;background:none;height:24px;padding:0;}
#datepicker-container .input-sm {height:24px;line-height:24px;width:173px;margin-left:12px;font-size: 14px;text-align:left;padding:0;padding-left: 12px;/*background:url(../images/member/timepicker_bg.png) no-repeat 142px 4px;*/cursor:pointer;}
.riqi #datepicker1 .input-sm {    position: inherit;height:24px;line-height:24px;width:173px;margin-left:12px;font-size: 14px;text-align:left;padding:0;padding-left: 12px;/*background:url(../images/member/timepicker_bg.png) no-repeat 142px 4px;cursor:pointer;*/}
/* sec-center-no-auth */
.zhuajia{display:flex;width: 100%;margin: 0 auto;height:200px;margin-bottom: 30px; }
.zhujia{margin: 30px 0px;}
.zhuajia div{
	width: 33.33%;
}
.zhujiaa{height: 200px;width: 300px;text-align: center;}
.zhujiaa td{border: 1px solid #999999;height: 33.1% }
.sec-center-w .sec-center{padding-top:0;}
.zhujiab{height: 20%; } 
.zhujia1{margin-left: 20px;}
.zhujia1 div{
	line-height: 40px;
	text-align: center;font-size: 16px;width: 300px;border:1px solid #999999;border-bottom: none; 
}
.chaxun1{margin-left: 107px; padding: 3px 5px; background: #ffffff; color: #000000; font-size: 16px;line-height: 37px;}
.zhujia11{font-size: 29px;color: #FF3A0A;}
.zhujia17{font-size: 29px;color: #74AF32;}
.sec-cetr-c{width:1020px;float:right;padding:20px;background:#FFF;border:1px solid #ebecee;}
.sec-cetr-c h3{height:22px;line-height: 22px;font-size:20px;color:#666;font-weight: 700;}
.sec-levl-w p{font-size:20px;color:#666;height:22px;line-height: 22px;}
.sec-levl-w .plse{padding-left: 24px;/*background:url(../images/member/sec_ico_bg.png) no-repeat 2px 2px ;*/float: left;}
.sec-levl-mark{width:244px;float:right;/*background:url(../images/member/sec_levl_bg.png) no-repeat*/}
.sec-levl-w .lv0{background-position: 94px 0;}
.sec-levl-w .lv1{background-position: 94px -22px;}
.sec-levl-w .lv2{background-position: 94px -44px;}
.sec-levl-w .lv3{background-position: 94px -66px;}
.sec-levl-w .lv4{background-position: 94px -88px;}
.sec-levl-w .lv5{background-position: 94px -110px;}
.sec-levl-w{margin-bottom:36px;}
.sec-levl-ul{padding:0 12px;}
.sec-levl-ul li{height:88px;line-height: 88px;border-bottom: 1px dashed #c3c3c3;position: relative;}
.sec-levl-ul li span{display: inline-block;}
.sec-levl-ul .auth-type{width:208px;padding-left:5px;font-size:18px;}
.yes img{width:22px;}
.sec-levl-ul .auth-stat{font-size: 18px;}
.sec-levl-ul .ge-btn{position:absolute;top:22px;right:0;border-radius:4px;font-size:16px;cursor:pointer;width:100px;height:44px;line-height: 44px;text-align: center;}
.sec-levl-ul .auth-btn{background:#7ab682;color:#FFF;}
.sec-levl-ul .set-btn{color:#7ab682;border:1px solid #7ab682;}
.sec-levl-ul .auth-stat-no{color:#ff5a62;}
.sec-levl-ul .auth-type-no{background-position:0 -25px;}
.sec-levl-ul .no-border{border:none;}
.sec-levl-ul .stu{font-size:16px;color:#999;}

/* 绑定手机弹窗 */
.sec-mobi-auth-tc,.sec-edit-logpsd-tc-2{width:580px;height:232px;background:#FFF;padding-top:32px;}
.sec-mobi-auth-tc .mobi-num-w,.sec-mobi-auth-tc .chck-num-w,.sec-edit-logpsd-tc-2 .mobi-num-w,.sec-edit-logpsd-tc-2 .chck-num-w{height:30px;margin-bottom:32px;}
.mobi-num-w span,.chck-num-w span{display:inline-block;padding-left:73px;font-size:18px;color:#999;width:154px;height:30px;}
.sec-mobi-auth-tc input,.sec-edit-logpsd-tc-2 input{border:1px solid #e3e3e3;padding-left: 12px;}
.sec-mobi-auth-tc .mobi-num-w input,.sec-edit-logpsd-tc-2 .mobi-num-w input{width:310px;height:30px;color:#999;}
.sec-mobi-auth-tc .chck-num-w input,.sec-edit-logpsd-tc-2 .chck-num-w input{width:172px;height:30px;font-size:14px;color:#999;}
.sec-mobi-auth-tc .chck-num-w,.sec-edit-logpsd-tc-2 .chck-num-w{position: relative;}
.sec-mobi-auth-tc .chck-code-btn,.sec-edit-logpsd-tc-2 .chck-code-btn{position:absolute;padding-left:0;top:2px;left:360px;font-size:14px;display:block;float:left;cursor:pointer;width:105px;height:24px;line-height:24px;border-radius: 4px;background:#79b682;color:#FFF;text-align: center;}
.sec-mobi-auth-tc .nxt-stp-btn,.sec-mobi-auth-tc .no-snd-sms,.sec-edit-logpsd-tc-2 .nxt-stp-btn,.sec-edit-logpsd-tc-2 .no-snd-sms{display: block;width:165px;height:34px;line-height:34px;text-align:center;font-size:16px;margin:0 auto;background:#79b682;color:#FFF;border-radius: 4px;}
.sec-mobi-auth-tc .no-snd-sms,.sec-edit-logpsd-tc-2 .no-snd-sms{background:none;text-align: right;}
.sec-mobi-auth-tc .no-snd-sms a,.sec-edit-logpsd-tc-2 .no-snd-sms a{font-size:14px;color:#79b682;}

/* sec-center-auth */
.sec-levl-ul .auth-type-done{background-position:0 -85px;}
.sec-levl-ul .sec-auth-done{font-size:16px;color:#999;}
.sec-levl-ul li{position:relative;}
.sec-levl-ul .psd-reqr i{display:block;float:left;width:31px;color:#666;cursor:pointer;text-align:center;font-style: normal;}
.sec-levl-ul .psd-reqr{position:absolute;left:460px;box-sizing:content-box;border-radius:4px;top:26px;display:block;width:62px;height:30px;line-height:30px;border:1px solid #7ab682;}
.sec-levl-ul .psd-reqr .active{color:#FFF;background:#7ab682;}

/* 修改交易密码弹窗 */
.sec-edt-tras-tc,.sec-auth-mail-tc,.sec-edit-logpsd-tc{display: none;width:476px;height:132px;}
.sec-edt-tras-tc input,.sec-edt-tras-tc .nxt-btn,.sec-auth-mail-tc input,.sec-auth-mail-tc .nxt-btn,.sec-edit-logpsd-tc input,.sec-edit-logpsd-tc .nxt-btn{display:block;margin-left:auto;margin-right: auto;}
.sec-edt-tras-tc input,.sec-auth-mail-tc input,.sec-edit-logpsd-tc input{width:255px;height:28px;margin-top:30px;margin-bottom:27px;color:#999;border:1px solid #e3e3e3;text-align: center;/*background: url(../images/member/sec_edt_tras_tc_bg.png) no-repeat 10px 4px;*/}
.sec-edt-tras-tc .nxt-btn,.sec-auth-mail-tc .nxt-btn,.sec-edit-logpsd-tc .nxt-btn{width:164px;height:34px;line-height:34px;text-align:center;cursor:pointer;font-size:16px;background:#79b682;color:#FFF;border-radius: 4px;}

/* 修改邮箱 */
.sec-auth-mail-tc2{width:480px;height:174px;display: none;}
.sec-auth-mail-tc2 .con{width:256px;margin:30px auto;}
.sec-auth-mail-tc2 .mail-input{display: block;width:100%;padding-left:8px;color:#999;height:28px;line-height: 28px;margin-bottom:8px;}
.sec-auth-mai-chk-code-w{height:28px;}
.sec-auth-mai-chk-code-w span{display:inline-block;width:108px;cursor:pointer;text-align: center;}
.sec-auth-mai-chk-code-w input,.sec-auth-mai-chk-code-w span{display: inline-block;height:28px;line-height: 28px;font-size: 14px;}
.sec-auth-mai-chk-code-w input{width:130px;margin-right:6px;padding-left:8px;color:#999;}
.sec-auth-mail-tc2 input{border:1px solid #e3e3e3;}
.sec-auth-mai-chk-code-w span{display:inline-block;width:108px;background:#79b682;color:#FFF;border-radius: 3px;}
.sec-auth-mail-tc2 .save-btn{display:block;width:166px;height:34px;line-height:34px;background:#79b682;color:#FFF;text-align:center;font-size:16px;border-radius:3px;margin: 30px auto 0;cursor: pointer;}

.sec-auth-mail-tc3{width:160px;height:44px;line-height: 44px;text-align: center;color:#FFF;background:#79b682;border-radius: 4px;font-size:16px;display: none;}

/* 密码保护弹窗 */
.sec-psd-potct-tc{display: none;width:580px;height:410px;padding-top:33px;}
.sec-psd-potct-tc select,.sec-psd-potct-tc input{display: block;margin-left:auto;margin-right:auto;width:270px;height:30px;font-size:14px;color:#666;border:1px solid #e3e3e3;padding-left:14px;}
.sec-psd-potct-tc select{margin-bottom:14px;}
.sec-psd-potct-tc input{margin-bottom:30px;border:1px solid #e3e3e3;}
.sec-psd-potct-tc .save-btn{display:block;width:166px;border-radius:4px;background:#79b682;color:#FFF;height:34px;line-height: 34px;text-align: center;margin:0 auto;font-size:16px;}

/* 修改登录密码弹窗 */
/*.sec-edit-logpsd-tc{height:160px;}*/
.sec-edit-logpsd-tc input{margin-bottom:0;}
.sec-edit-logpsd-tc .tip-w{width:255px;margin:6px auto 16px;}
.sec-edit-logpsd-tc .tip-w span{display:none;float:left;padding-left:30px;color: #ff5a62;/*background: url(../images/member/sec_edit_logpsd_tc_bg.png) no-repeat 4px 0;*/}
.sec-edit-logpsd-tc .tip-w a{float:right;color:#79b682;padding-right:2px;}

.sec-edit-logpsd-tc-2,.sec-edit-logpsd-tc-3 {display: none;}

.sec-edit-logpsd-tc-3 .mobi-num-w span, .sec-edit-logpsd-tc-3 .chck-num-w span{padding-left:53px;}
.sec-edit-logpsd-tc-3 .chck-num-w input,.sec-edit-logpsd-tc-3 .mobi-num-w input{width:273px;}

/* count-data */
.count-data-w{padding-top:0;padding-bottom: 0;}
.count-data{width:1030px;float: right;}
.count-data-c{margin-bottom:20px;padding:20px;border:1px solid #ebecee;background:#FFF;}
.count-data-c h3{height:20px;line-height: 20px;font-size: 20px;color:#666;}
.cout-data-sum-info{width:466px;float: right;}
.cout-data-sum{height:314px;}
.cout-data-sum-info li{position:relative;padding-left:46px;height:36px;line-height: 36px;font-size:18px;margin-bottom:13px;color:#666;/*background:url(../images/member/count_data_bg.png) no-repeat 6px 6px;*/}
.cout-data-sum-info li .sum{position: absolute;left:200px;top:0;}
.cout-data-sum-info .kpng{background-position: 6px -42px;}
.cout-data-sum-info .fwd{background-position: 6px -90px;}
.cout-data-sum-info .frze{background-position: 6px -140px;}
.cout-data-sum-info .chrg{background-position: 6px -190px;}
.cout-data-proft-sum{float: right;width:230px;}
.cout-data-proft{height:535px;}
.cout-data-num{height:274px;}

.cout-data-proft  ul{margin-top:200px;}
.cout-data-proft li{height:50px;line-height: 50px;/*background:url(../images/member/profit_sum_lis_bg.png) no-repeat;*/padding-left:40px;font-size:16px;}
.cout-data-proft-sum .hsty{background-position:0 15px;color:#6dc596;}
.cout-data-proft-sum .year{background-position:0 -38px;color:#6597ea;}
.cout-data-proft-sum .moth{background-position:0 -92px;color:#ebbb22;}
.cout-data-num ul{border:1px solid #ebecee;margin-top:50px;}
.cout-data-num ul li{width:33.33%;float:left;padding-left:20px;font-size:18px;color:#232222;height:62px;line-height: 62px;margin-bottom:6px;}
.cout-data-num .no-margin{margin:0;}
.cout-data-num ul li span{color:#79b682;margin-left:12px;}
#circle-data-chart{height:245px;float:left;width:500px;}

#cout-data-proft-chart-w{position:relative;width:750px;height:467px;float:left;}
#cout-data-proft-chart-w .tite-w{position:absolute;z-index:10;width:244px;height:20px;line-height:20px;text-align:center;top:52px;left:214px;font-size:20px;color:#191818;}
#cout-data-proft-chart-w .l-arr,#cout-data-proft-chart-w .r-arr{position:absolute;cursor:pointer;z-index: 5;}
#cout-data-proft-chart-w .l-arr{left:0;}
#cout-data-proft-chart-w .r-arr{right:0;}

#cout-data-prft-chart-ctn{width:750px;height:467px;overflow: hidden;}
.cout-data-prft-chart-w{width:1500px;}
.cout-data-prft-chart-slide{position:relative;width:750px;height:467px;float:left;}

#circle-data-chart-2016{ width:750px;height:430px;bottom:-40px;}

/* my-crowd-funding */
.my-crowd-fund-w .welfare-nav-w a{width:auto;padding:0 14px;}
.my-c-fund-tite-bar{width:980px;height:30px;background:#f3f5fa;margin-bottom:10px;}
.my-c-fund-tite-bar div{float: left;line-height: 30px;text-align: center;font-size:14px;color:#999;}
.my-c-fund-tite-bar .col1{width:390px;}
.my-c-fund-tite-bar .col2,.my-c-fund-tite-bar .col3,.my-c-fund-tite-bar .col4{width:114px;}
.my-c-fund-tite-bar .col5{width:244px;}

.my-c-fund-order-w{width:980px;border:1px solid #f3f5fa;margin-bottom:20px;overflow: hidden;}
.my-c-fund-order-tite{background:#fbfcff;}
.my-c-fund-order-tite div{float: left;height:30px;line-height: 30px;color:#999;font-size:14px;}
.my-c-fund-order-tite .col1{width:390px;text-align: center;}
.my-c-fund-order-tite .col2{padding-left:40px;}

.my-c-fund-order-c{height:80px;background:#fbfcff;border-top:1px solid #f3f5fa;border-bottom: 1px solid #f3f5fa;}
.my-c-fund-order-c .col1,.my-c-fund-order-c .col2,.my-c-fund-order-c .col3,.my-c-fund-order-c .col4,.my-c-fund-order-c .col5{float:left;text-align:center;height:80px;}
.my-c-fund-order-c .col1{width:390px;}
.my-c-fund-order-c .col2,.my-c-fund-order-c .col3,.my-c-fund-order-c .col4{width:114px;font-size: 16px;color:#999;height:80px;line-height: 80px;}
.my-c-fund-order-c .col5{width:244px;height:80px;line-height: 80px;text-align: center;}
.my-c-fund-order-c .col1{text-align: left;}
.my-c-fund-order-c .img-w{display:table-cell;vertical-align: middle;float:left;width:96px;height:80px;text-align: center;line-height: 80px;}
.my-c-fund-order-c .txt-w{float:left;padding-left:6px;font-size: 14px;color:#999;padding-top:5px;}
.my-c-fund-order-c .img-w img{vertical-align: middle;max-width:96px;max-height: 80px;}
.my-c-fund-order-c .txt-w p{height:32px;line-height: 32px;}
.my-c-fund-order-c .order-stat,.my-c-fund-order-c .real-pay{color:#f97a7d;}
.my-c-fund-order-c .col5 a{display: inline;font-size:16px;color:#79b382;background:none;border: none;margin-right:0;padding-right:10px;padding-left:10px;}
.my-c-fund-prft-w{background:#f2f7ff;}
.my-c-fund-prft-row{border-bottom: 1px solid #FFF;}
.my-c-fund-prft-row .col1,.my-c-fund-prft-row .col2{float: left;height:40px;line-height:40px;font-size: 16px;color:#999;}
.my-c-fund-prft-row .col1{width:102px;text-align: center;border-right:1px solid #FFF;}
.my-c-fund-prft-row .col2{width:876px;padding-left:54px;}
.my-c-fund-prft-w .no-border{border:none;}

.my-crowd-fund-w .page-btn-w{margin-bottom:20px;padding-top:20px;}
.my-crowd-fund-w .page-btn-w a{margin:0;border:none;background:none;}
.my-crowd-fund-w .page-btn .pre-btn a,.my-crowd-fund-w .page-btn .next-btn a{/*background: url(../images/member/ado_bg.png) 3px -27px no-repeat;*/border:1px solid #DDD;}
.my-crowd-fund-w .page-btn .next-btn a{/*background:url(../images/member/ado_bg.png) 59px -52px no-repeat;*/}

.crod-fund-tc{width:544px;height:270px;border:1px solid #959595;}
.crod-fund-tc-l1{height:36px;line-height:36px;margin-top:10px;font-size:14px;color:#000;text-align:center;}
.crod-fund-tc-l2{display:block;margin:0 auto;padding-left:12px;width:444px;height:48px;border:1px solid #999;}
.crod-fund-tc-btn-w{height:44px;margin:20px 0;text-align: center;}
.crod-fund-tc-l5{text-align: center;}
.crod-fund-tc-share-btn-w{position:relative;margin-bottom:20px;height:33px;text-align:center;}
.crod-fund-tc-btn-w span{display: inline-block;width:120px;height:44px;line-height: 44px;text-align: center;background:#ff5757;cursor:pointer;color:#FFF;border-radius: 3px;font-size:14px;}
.crod-fund-tc-btn-w .copy-btn{margin-right:90px;}
.crod-fund-tc-btn-w .send-btn{-moz-user-select:none;/*火狐*/  -webkit-user-select:none;/*webkit浏览器*/  -ms-user-select:none;/*IE10*/    user-select:none;}
.crod-fund-tc .share-area .bdshare-button-style0-32 a{margin:0;margin-right:14px;}
.crod-fund-tc .share-area .share-text{margin:6px 30px 0 106px;}
.crod-fund-tc .sed-t-fred{position:absolute;left:318px;top:-64px;width:120px;height:44px;background:none;opacity:0;filter: alpha(opacity=0);z-index:99;}
.bd_weixin_popup{z-index:20481024 !important;}

.my-crowd-fund-c{position: relative;padding:20px 20px 60px;}
.my-crowd-fund-c .page-btn-w{position: absolute;bottom:0;right:20px;}
.crod-fund-cacl-pop{width:620px;height:358px;padding:30px;}
.crod-fund-cacl-pop-tite{padding-left:74px;height:26px;line-height: 26px;font-size: 14px;color:#666;/*background:url(../images/member/c_f_pop_t_bg.png) 12px 0 no-repeat;*/}
.crod-fund-cacl-pop .rson-w{height:40px;line-height: 40px;margin:24px 0 60px;}
.crod-fund-cacl-pop .rson-w select{width:250px;height:40px;border:1px solid #79b682;border-radius: 2px;padding-left:12px;}
.crod-fund-cacl-pop i{color:#fc6b00;margin-right:10px;}
.crod-fund-cacl-pop .rson-w span{margin-right:18px;}
.crod-fund-cacl-pop dt,.crod-fund-cacl-pop dd{height:22px;line-height: 22px;color:#fc6b00;font-size:14px;}
.crod-fund-cacl-pop dl{margin-bottom:38px;}
.crod-fund-cacl-btn-grup a{display:inline-block;text-align:center;width:80px;height:24px;line-height:24px;border-radius:2px;background:#f3f3f3;color:#000;border:1px solid #ddd;}
.crod-fund-cacl-btn-grup .sure-btn{margin:0 44px 0 170px;}

/* my-crowd-funding-returning-detail */
.my-c-f-rtun-dtal-w{background:#f3f5fa;overflow: hidden;}
.my-c-f-rtun-dtal{width:1200px;margin:0 auto 20px;background:#FFF;padding:20px;border:1px solid #DDD;}
.my-c-f-rtun-dtal-stat{height:128px;margin-bottom:20px;}
.my-c-f-rtun-dtal-stat-retn{/*background:url(../images/member/c_f_return_stat_bg.png) 924px 30px no-repeat #4cb050 ;*/}
.my-c-f-rtun-dtal-stat .stat-txt{font-size:24px;color:#FFF;padding-left:92px;height:128px;line-height: 128px;}
.mycf-rtdt-c .tite{height:30px;line-height: 30px;background:#f3f5fa;padding-left:20px;font-size:16px;color:#999;margin-bottom:20px;}
.mycf-rtdt-trans-dt{padding:0 30px;background:#f3f5fa;margin-bottom:20px;}
.mycf-rtdt-trans-dt .recv-stat{height:58px;line-height: 58px;border-bottom:1px solid #DDD;padding-left:4px;font-size:14px;color:#666;}
.mycf-rtdt-trans-dt .exps-w{padding:10px 0 10px 4px;}
.mycf-rtdt-trans-dt .exps-w p{height:30px;line-height:30px;color:#666;font-size:14px;}
.mycf-rtdt-trans-dt .exps-w .time-pos{display: inline-block;float: right;width:652px;}
.mycf-rtdt-trans-dt .exps-w span{float:left;}
.mycf-rtdt-trans-dt .exps-w .date{margin:0 80px 0 122px}
.mycf-rtdt-trans-dt .exps-w .gz .date{margin:0 80px 0 66px}

.mycf-rtdt-rcer-w{margin-bottom:20px;}
.mycf-rtdt-rcer{height:100px;padding-left:90px;padding-top:16px;/*background:url(../images/member/ret_dt_bg.png) no-repeat 38px 30px;*/}
.mycf-rtdt-rcer p{font-size:16px;color:#999;height:34px;line-height: 34px;}

.mycf-rtdt-c .my-c-fund-order-w{width:1160px;margin-bottom:0;}
.mycf-rtdt-c .my-c-fund-order-c{height:82px;}
.my-c-fund-prft-w .oder-sum{height:252px;padding-top:12px;}
.my-c-fund-prft-w .oder-sum .left{float:left;padding-left:20px;}
.my-c-fund-prft-w .oder-sum .right{float:right;padding-right:30px;}
.my-c-fund-prft-w .oder-sum .left p{font-size:16px;color:#999;height:26px;line-height:26px;}
.my-c-fund-prft-w .oder-sum .right .l2{color:#999;}
.my-c-fund-prft-w .oder-sum .right .l1{height:40px;line-height: 40px; font-size: 16px;color: #999;}
.my-c-fund-prft-w .oder-sum .right .l1 i{color:#f97a7d;font-style: normal;}
.my-c-fund-prft-w .oder-sum .right .l1 span{margin-left:40px;}
.my-c-fund-prft-w .oder-sum .right .l1 .no-margin{margin:0;}
.my-c-fund-prft-w .oder-sum .right .l2{height:80px;line-height: 80px;font-size:16px;text-align: right;}
.my-c-fund-prft-w .oder-sum .right .l2 .sum{font-size: 26px;color:#f97a7d;}
.my-c-fund-prft-w .oder-sum .right .l3{float:right;width:162px;height:68px;line-height:68px;font-size:22px;color:#FFF;cursor:pointer;margin-top:16px;background:#79b682;border-radius: 8px;text-align: center;}
.my-c-fund-order-c .col-last{height:80px;line-height: 80px;float:right;padding-right:30px;font-size:16px;color:#999;}
.my-c-fund-order-c .col-last span{font-size:20px;color:#f97a7d;padding-left:38px;/*background:url(../images/member/djs_bg.png) no-repeat;*/margin-left:36px;}

.mcf-rece-confm-pop{width:582px;height:215px;}
.mcf-rece-confm-pop p{text-align: center;font-size:18px;color:#999;height:96px;line-height: 96px;margin-bottom:14px;}
.mcf-rece-confm-pop .btn,.mycf-back-mony-pop .btn{display: inline-block;padding:0;width:120px;height:50px;line-height:50px;color:#FFF;background:#79b682;}
.mcf-rece-confm-pop .sure-btn,.mycf-back-mony-pop .sure-btn{margin:0 100px 0 128px;}

/* 众筹喂养中详情 */
.mycf-rtdt-trans-info{min-height: 218px;}
.mycf-rtdt-c .no-msg{height:176px;line-height: 176px;text-align: center;font-size:14px;color:#666;}
.my-c-fund-prft-w .oder-sum .right .l3-w{text-align: right;}
.my-c-fund-prft-w .oder-sum .right .l3-w .l3{float:none;display:inline-block;width:120px;height:50px;line-height: 50px;}
.my-c-fund-prft-w .oder-sum .right .l3-w #l3-w-shre-btn{margin-left:66px;}

/* my-crowd-funding-donging-detail */
.my-c-fund-prft-w .oder-sum #mcf-doing .l3-w #l3-w-shre-btn{margin-left:0;}
.my-c-fund-prft-w .oder-sum #mcf-doing .l3-w #back-mony{margin:0 30px;}

.mycf-back-mony-pop{width:580px;height:280px;}
.mycf-back-mony-pop .tite{display: block;width:172px;margin-left:72px;float:left;font-size:16px;color:#999;}
.mycf-back-mony-pop .l1{height:28px;line-height: 28px;margin:30px 0 40px;}
.mycf-back-mony-pop .l1 select{height:28px;width:246px;border:1px solid #e3e3e3;color:#999;}
.mycf-back-mony-pop .l2{margin-bottom:32px;height:40px;line-height: 20px;}
.mycf-back-mony-pop .l2 .tite{height:40px;}
.mycf-back-mony-pop .l2 .labl-w{float:left;width:220px;}
.mycf-back-mony-pop .l2 label{margin-right: 10px;cursor:pointer;}
.mycf-back-mony-pop .l3{margin-bottom:44px;}
.mycf-back-mony-pop .l3 input{height:28px; width:154px;padding-left:6px;border:1px solid #e3e3e3;margin-right:9px;}
.option-w-welfare a{
	margin-top: 10px;
}
#active11{
	background-color: #6CCE85;
}
#active11 .link a{
	color: #ffffff;
}
#layui-layer-content{
	height: 264px;
}
 #datepicker-container .active{
 background: #79b682;
 border-radius:3px; 
 }
 .option-w-welfare .active{
 background: #79b682;
  color: #ffffff;
 }
 .option-w-welfare-use .active{
  background: #79b682;
  color: #ffffff;
 }
 .option-ws .active{
  background: #79b682;
 }
 .help-center-l18{padding: 7px 0;}
 .option-w-start .active{
  background: #79b682;
 }
#active1{color: #f70202}
 #main_img{width:142px;}
 .shijianfanwei{
font-size: 18px;
 }