@charset "utf-8";
/* CSS Document */
*{padding:0px; margin:0px;}
.wrap{ float:left; width:100%; height:auto; font-family:"微软雅黑"}
#top{ float:left; width:100%; height:35px; background:#4cb050;}
#top1{ float:left; width:15%; height:20px; margin-top:7px; text-align:center;}
#top2{ float:left; width:70%; height:30px; line-height:30px; text-align:center; color:#fff; font-size:14px;}
.news{ clear:both;  height:auto; margin:0 auto;padding: 10px 20px;}
.news h1{ float:left; width:100%; height:auto; line-height:150%; font-size:18px; color:#0a0a0a; margin-top:10px; margin-bottom:5px;}
.news h2{ float:left; width:100%; height:20px; line-height:20px; color:#ccc; font-size:12px; font-weight:normal; margin-bottom:5px;}
.news h2 i{ float:left; width:auto; height:17px; margin-top:2px;}
.news h2 span{ float:left; width:auto; height:20px; line-height:20px; padding:0 5px;}
.news p{ float:left; width:100%; height:auto; line-height:150%; font-size:16px; color:#262626;  margin-bottom:10px;}
