.clearfix1{
	width: 53px;
    bottom: 20px;
    right: 10px;
    position: fixed;
    _position: absolute;
    background: #fff;
    border: 1px solid #e0e0e0;
    z-index: 999;
    font-family: "微软雅黑";
    font-size: 12px;
}
.guanzhuus{
		display:none;
    position: relative;
	    height: 53px;
    width: 53px;
    float: left;
    display: block;
/*background:url("/web/images/fixa1.png");no-repeat;*/
cursor: pointer;
    background-position: -53px 0;
}
.guanzhuus1{
display:none;
width: 224px;
padding-right: 20px;
position: absolute;
left: -222px;
}
.guanzhuus2{
display:none;
    width: 224px;
padding-right: 20px;
position: absolute;
left: -222px;
}
.guanzhuus2 ul{
    background: #fff;
border: 1px solid #e0e0e0;
width: 222px;
padding: 15px 0;
position: relative;
 float: left;
 text-align: center;
}
.guanzhuus1 ul{
    background: #fff;
border: 1px solid #e0e0e0;
width: 222px;
padding: 15px 0;
position: relative;
 float: left;
 text-align: center;
}
.muyaweixin{border-right: 1px solid #e0e0e0;}
.guanzhuus1 ul li{
width:50%;
  float: left;
}
.guanzhuus2 ul li{
width:50%;
  float: left;
}
.guanzhuus1 img{
width:70px;
}
.guanzhuus2 img{
width:70px;
}
.guanzhuus:hover{
background-position: -106px 0;
}

.huidaous{
    background-position: -53px -106px;
position: relative;
    height: 53px;
width: 53px;
float: left;
display: block;
/*background:url("/web/images/fixa1.png"); no-repeat;*/
cursor: pointer;
    background-position: -53px -106px;
}
.huidaous:hover{
   background-position: -106px -106px;
}
.lianxius{

position: relative;
    height: 53px;
width: 53px;
float: left;
display: block;
/*background:url("/web/images/fixa1.png"); no-repeat;*/
cursor: pointer;
  background-position: -53px -53px;
}
.lianxius:hover{
   background-position: -106px -53px;
}
.guanbius{
position: relative;
    height: 53px;
width: 53px;
float: left;
display: block;
/*background:url("/web/images/jiantou.png"); no-repeat;*/
cursor: pointer;
}
.yemianyin{
 right: 10px;
 position: fixed;
width:53px;
display: none;
cursor: pointer;
height: 53px;
bottom: 10px;
/*background: url("/web/images/jiantou1.png"); no-repeat;*/
}
.asste{width: 870px;margin: 0 auto;padding:0px 0px 20px 0px; }
.biaoti{}
.asste h4{    font: bold 24px "宋体";
padding: 0 0 20px 0;
letter-spacing: -1.5px;text-align: center;}
.time15{color: #999;
line-height: 22px;
border-bottom:1px solid #ddd;
margin-bottom: 10px;
}
.zhengwen1{width: 200px;margin: 0 auto;}
.zhengwen p{
    text-indent: 28px;
font-size: 14px;
margin-bottom: 25px;
text-align: justify;
word-break: normal;
    font-size: 16px;
line-height: 28px;
color: #222;
word-wrap: break-word;
}